// Fonts
// Mixins
// Colours
// General
// Header/Navigation
// Projects Index Page
// Project Individual Page
// People/Organisations Index Page
// Person/Organisation Individual Page
// Page Pagination

//-- Fonts --
@import "fonts";

//-- Mixins --
@mixin calc($prop, $val) {
  @each $pre in -webkit-, -moz-, -o- {
    #{$prop}: $pre + calc(#{$val});
  }

  #{$prop}: calc(#{$val});
}

@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
  -moz-transform: translate3d($x, $y, $z);
  -o-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin animation($animation...) {
  -o-animation: $animation;
  -moz-animation: $animation;
  -webkit-animation: $animation;
  animation: $animation;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

//-- Colours --
$navy: #0a2d50;
$lightgray: #e6ebed; //rgb(230, 235, 237)
$darkgray: #5a6369; //rgb(90, 99, 105)
$red: #e12726;

// -- Pagefind --

:root {
  --pagefind-ui-background: white;
  --pagefind-ui-border: #5a6369;
  --pagefind-ui-font: KingsBureauGrotFiveOne, sans-serif;
}

//-- General --
html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: KingsBureauGrotFiveOne, sans-serif;
  font-weight: 400;
  //font-family: KingsBureauGrotFiveOne,"Helvetica Neue",Helvetica,Arial,sans-serif;
  float: left;
  width: 100%;
}

* {
  box-sizing: border-box;
}
section {
  width: 100%;
}

.kdl-container {
  max-width: 1220px;
  margin: 0 auto;
}

main {
  a {
    font-family: "KingsCaslon", serif;
    color: lighten($navy, 7%);
    text-decoration-style: solid;
    &:hover {
      text-decoration-style: double;
      color: lighten($navy, 17%);
    } //&:hover
  } //a
  p {
    a {
      text-decoration-style: solid;
      font-family: KingsBureauGrotFiveOne, sans-serif;
      color: lighten($navy, 7%);
      font-weight: bold;
      &:hover {
        text-decoration-style: double;
        color: lighten($navy, 17%);
      }
    } //a
  } //p
  img {
    width: 100%;
  }
} //main

//-- Header/Navigation --

header {
  width: 100%;
  .site {
    padding: 0 1em;
    a.sitename {
      text-decoration: none;
      color: white;
      position: absolute;
      font-size: 1.6em;
      padding: 0.4em 0;
      font-weight: bold;
      span {
        font-size: 1.2em;
      } // span
    } // a.sitename
    a.logo {
      width: 8em;
      text-align: right;
      float: right;
      position: relative;
      //display: inline-block;
      align-self: flex-end;

      img {
        width: 8em;
        text-align: right;
        //float: right;
        position: relative;
        display: inline-block;
        //right: initial;
        //margin-left:70%;
        //top: 0;
      } //img
    } // a.logo
  } //.site
  nav {
    &.main {
      z-index: 1;
      background: $darkgray;
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: white;
      height: 50px;
      padding: 0 1em;
      border-bottom: 0.3em solid lightgray;
      //display:flex;
      .kdl-container {
        > ul {
          /* first-level */
          margin: 0 2em 0 auto;
          list-style-type: none;
          float: right;
          > li {
            display: block;
            float: left;
            transition: all ease-out 250ms;
            position: relative; //underline animation
            color: darken(white, 20%);
            &:after {
              content: "";
              position: absolute;
              width: 100%;
              transform: scaleX(0);
              height: 1px;
              bottom: 0;
              left: 0;
              background-color: white;
              transition: transform 0.25s ease-out;
            } //&:after
            &.active {
              background: white;
              position: relative; //underline animation
              a {
                color: black;
              }
              &:after {
                content: "";
                position: absolute;
                width: 100%;
                transform: scaleX(1);
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: white;
                transition: transform 0.25s ease-out;
              } //&:after
            } //&.active
            a,
            label {
              text-decoration: none;
              color: white;
              display: block;
              padding: 0.9em 1em;
              transition: all 0.25s ease-in;
              cursor: pointer;
            } //a
            &:focus,
            &:hover {
              background: $lightgray;
              a,
              label {
                color: black;
              } //a,label
              input[type="checkbox"] + label.kdl-checkbox {
                position: relative;
                &:after {
                  border-color: black;
                } //&:after
              } //input[type="checkbox"] + label.kdl-checkbox
              ul {
                li {
                  a {
                    background: $lightgray;
                  }
                }
              }
            } //&:focus,&:hover
            > ul {
              /* second-level */
              margin-left: -40px;
              height: 100%;
              max-height: 0;
              overflow: hidden;
              transition: max-height 0.5s ease-in-out;
              list-style-type: none;
              li {
                a,
                label {
                  background: $darkgray;
                  &:focus,
                  &:hover {
                    background: white;
                  } // &:focus,&:hover
                } // a,label
                > ul {
                  /* third-level */
                  height: 100%;
                  max-height: 0;
                  overflow: hidden;
                  list-style-type: none;
                  transition: max-height 0.5s ease-in-out;
                  li {
                    a,
                    label {
                      background: #454545;
                      box-shadow: inset 0 -1px lighten(#454545, 7%);
                      &:focus,
                      &:hover {
                        background: darken(#454545, 7%);
                      } // &:focus,&:hover
                    } // a,label
                    > ul {
                      /* fourth-level */
                      height: 100%;
                      max-height: 0;
                      overflow: hidden;
                      transition: max-height 0.5s ease-in-out;
                      list-style-type: none;
                      li {
                        a,
                        label {
                          background: #454545;
                          box-shadow: inset 0 -1px lighten(#454545, 7%);

                          &:focus,
                          &:hover {
                            background: darken(#454545, 7%);
                          } // &:focus,&:hover
                        } // a,label
                      } // li
                    } //ul fourth-level
                  } // li
                } //ul third-level
              } // li second level
            } //ul second-level
          } // li first-level
          input[type="checkbox"]:checked + label + ul {
            /* reset the height when checkbox is checked */
            max-height: 1000px;
          } //input[type=checkbox]:checked + label + ul

          /** chevron icon **/
          input[type="checkbox"] + label.kdl-checkbox {
            position: relative;
            &:after {
              content: "";
              display: inline-block;
              z-index: 1;
              top: 0.15em;
              border-style: solid;
              border-color: white;
              border-width: 1px 1px 0 0;
              height: 0.5em;
              position: relative;
              transform: rotate(135deg);
              transition: 0.35s ease-in-out;
              vertical-align: top;
              width: 0.5em;
              left: 0.5em;
            }
          } // input[type=checkbox] + label.kdl-checkbox
          input[type="checkbox"]:checked + label.kdl-checkbox {
            &:before,
            &:after {
              transform: rotate(-45deg);
            }
            &:before {
              display: none;
            }
          } //input[type=checkbox]:checked + label.kdl-checkbox
        } //.wrapper
      } //ul first-level

      .kdl-menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      } //.menu-button-container

      #menu-toggle {
        display: none;
      } //#menu-toggle

      .kdl-menu-button,
      .kdl-menu-button::before,
      .kdl-menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 2px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      .kdl-menu-button {
        &::before {
          content: "";
          margin-top: -8px;
        } //&::before
        &::after {
          content: "";
          margin-top: 8px;
        } //&::after
      } //.menu-button

      #menu-toggle:checked + .kdl-menu-button-container {
        .kdl-menu-button {
          background: rgba(255, 255, 255, 0);
          &::before {
            margin-top: 0px;
            transform: rotate(45deg);
          } //&::before
          &::after {
            margin-top: 0px;
            transform: rotate(-45deg);
          } //&::after
        } //.menu-button
      } //#menu-toggle:checked + .menu-button-container
    } //.main
  } //.nav.main

  nav.sub {
    background: rgb(230, 235, 237);
    padding: 0.5em 1em;
    border-bottom: 0.7em solid rgb(10, 45, 80);
    ol {
      list-style-type: none;
      margin-left: -40px;
      li {
        display: inline-block;
        margin-right: 1em;
        a {
          color: black;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          } //&:hover
          &:after {
            content: ">";
            position: absolute;
            padding: 0 0.5em;
          } //&:after
        } //a
      } //li
    } //ol
    h1 {
      font-family: KingsBureauGrotThreeSeven, sans-serif;
      margin: 0;
      font-weight: 400;
      small {
        font-weight: normal;
        font-size: 0.6em;
      }
    } //h1
    ul {
      display: block;
      list-style-type: none;
      margin: 0.5em 0 0 -40px;
      li {
        padding: 0 1em;
        border-right: 0.1em solid;
        display: inline-block;
        &:active {
          font-family: KingsBureauGrotThreeSeven, sans-serif;
        }
        a {
          color: black;
          text-decoration: none;
        } //a
        &:hover {
          text-decoration: underline;
        } //&:hover
        &:first-child {
          padding-left: 0;
        } //&:first-child
        &:last-child {
          border-right: none;
        } //&:last-child
      } //li
    } //ul
  } //nav.sub
} //header

//-- Projects Index Page --

main.projects {
  padding: 2em 1em;
  a {
    //display:inline-block;
    color: $navy;
    padding: 0.5em 0;
    cursor: default;
    display: block;
    text-decoration: none;
    line-height: 1.4;
    h2 {
      font-family: KingsCaslon, serif;
      //font-family: KingsBureauGrotThreeSeven, sans-serif;
      //font-family: KingsBureauGrotFiveOne, sans-serif;
      font-weight: normal;
      cursor: pointer;
      margin: 0;
      line-height: 1;
      display: inline-block;
      &:hover {
        text-decoration: underline;
        //text-decoration-style: double;
        color: lighten($navy, 15%);
      }
    } //h2
    small {
      color: gray;
      font-family: KingsBureauGrotFiveOne, sans-serif;
      //font-family: KingsBureauGrotThreeSeven, sans-serif;
      font-weight: 400;
      font-size: 0.6em;
      display: inline-block;
      margin-left: 0.3em;
      font-style: normal;
      //color: #c11609;
      //font-family: "KingsCaslon",serif;
    } //small
    span {
      font-family: KingsBureauGrotFiveOne, sans-serif;
      //font-family: KingsCaslon, serif;
      display: block;
    } //span
  } //a
} //main.projects

//-- Project Individual Page --

.project {
  padding: 5em 1em;
  .kdl-container {
    display: flex;
    flex-wrap: wrap;
    h1 {
      width: 100%;
      small {
        color: gray;
        font-size: 0.6em;
        font-weight: normal;
      } //small
    } //h1
    section {
      //display: block;
      //width: 70%;
      margin: 0 5% 0 0;
      flex: 3;
      &:last-child {
        //width: 30%;
        margin: 0;
        flex: 1;
        //border-left: 0.1vw solid black;
        background: rgb(237, 241, 242);
      } //&:last-child{
      figure {
        margin: 0;
        img {
          width: 100%;
        } //img
        figcaption {
          font-size: 0.7em;
          text-align: center;
        }
      } //figure
      #metadata {
        margin: 0 5%;
        padding-top: 1em;
        dl {
          dt {
            margin-top: 1.5em;
            font-size: 1.2em;
            font-weight: bold;
          } //dt
          dd {
            margin-left: 20px;
            margin-top: 0.5em;
          } //dd
        } //dl
        span {
          background: $darkgray;
          margin-left: -5%;
          padding: 0.3em 0.5em;
          margin-bottom: 1em;
          color: white;
        }
        #links,
        .funder {
          border-bottom: 0.3em solid rgb(220, 227, 230);
          width: 100%;
          padding: 1em 0;
          ul {
            margin: 0 0 0 -20px;
            list-style-type: circle;
            li {
              margin-bottom: 0.5em;
              a {
                font-size: 1.2em;
                text-decoration: none;
                &:hover {
                  text-decoration: underline;
                  text-decoration-style: solid;
                  @include transition(all 200ms ease-in);
                } //&:hover
              } //a
            } //li
          } //ul
        } //#links
        .funder {
          border-bottom: 0.3em solid rgb(220, 227, 230);
        } //#funder
      } //#metatdata

      .post-meta {
        margin-left: 5%;
      }
      #team {
        width: 100%;
        display: block;
        border-top: 0.01em solid;
        h2 {
          width: 100%;
        }
        ul {
          margin-left: -40px;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          h2 {
            font-size: 1.2em;
          }
          li {
            list-style-type: none;
            flex: 0 0 50%;
            margin-bottom: 1em;
            font-size: 1.1em;
            a {
              text-decoration: none;
              &:hover {
                text-decoration: underline;
                text-decoration-style: solid;
              }
            }
            span {
              font-size: 0.8em;
              display: block;
            }
          } //li
        } //ul
      } //#team
    } //>section 2nd level
  } //.wrapper
} //.project

//-- Blog Index page --
main.posts {
  padding: 0 1em;
  article {
    width: 100%;
    display: flex;
    margin-bottom: 1em;
    figure {
      width: 100%;
      margin: 0;
      img {
        height: auto;
        max-width: 15em;
        object-fit: contain;
        display: inline-block;
        vertical-align: top;
        &:hover {
          filter: grayscale(100%);
          transition: transform 1s, filter 0.5s ease-in-out;
        }
      } //img
    } //figure
    section {
      margin-left: 2em;
      a {
        text-decoration: none;
        h2 {
          margin-top: 0;
        } //h2
        &:hover {
          text-decoration: underline;
        } //&:hover
      } //a
    } //section
  } //article
} //main.posts

//-- Blog Individual Page & FAQs --
main.post,
main.faqs, main.base {
  padding: 0 1em;
  .kdl-container {
    display: flex;
    flex-wrap: wrap;
    h1 {
      width: 100%;
      order: 1;
    } //h1
    aside {
      flex: 1;
      background: rgb(237, 241, 242);
      order: 3;
      margin: 0 0 0 5%;
      padding: 0 1em;
      ol {
        margin-left: -20px;
        counter-reset: counter;
        list-style: none;
        li {
          counter-increment: counter;
          line-height: 1.3;
          margin-top: 0.5em;
          font-weight: bold;
          a {
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            } //&:hover
          } //a
          &:before {
            content: counters(counter, ".");
            position: absolute;
            margin-left: -1em;
            margin-top: 0.15em;
            font-size: 0.9em;
            font-weight: bold;
            color: $red;
          } //&:before;
          ol {
            li {
              &:before {
                margin-left: -1.7em;
                margin-top: 0.4em;
                font-size: 0.7em;
                font-weight: bold;
              } //&:before;
            } //li
          } //ol
        } //li
      } //ol
    } //aside
    > article {
      flex: 3;
      order: 2;
      figure {
        width: 100%;
        margin: 0;
        img {
          width: 100%;
        } //img
      } //figure
    } //article
    footer {
      background: white;
    } //footer
  } //.kdl-container
} //main.post, main.faqs

//-- People/Organisations Index Page --
main.people,
main.organisations {
  padding: 0 1em;
  /*ul{
  display:flex;
  width: 100%;
  flex-wrap: wrap;
  margin-left:-40px;
  li{
    flex: 0 0 33.3%;
    list-style-type: none;
    padding:0 0 0.5em 0;
    font-size:1.4em;
    a{
      text-decoration:none;
      &:hover{
        text-decoration:underline;
        text-decoration-style:solid;
      }
    }
  }//li
}//ul*/
  ul {
    margin-left: -40px;
    list-style-type: none;
    list-style-type: none;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    li {
      padding-bottom: 0.5em;
      font-size: 1.4em;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          text-decoration-style: solid;
        } //&:hover
      } //a
    } //li
  } //ul
} //main.people

//-- Person/Organisation Individual Page --
main.person,
main.organisation {
  padding: 0 1em;
  h1 {
    width: 100%;
  } //h1
  article {
    img {
      width: 30%;
      height: auto;
      max-width: 15em;
      object-fit: contain;
      display: inline-block;
      vertical-align: top;
    }
    section {
      display: block;
      width: 100%;
      padding: 1em 0;
      border-bottom: 0.01em solid black;
      h2 {
        margin: 0;
        span {
          display: block;
          font-weight: normal;
          font-size: 0.7em;
          color: gray;
        } //span
      } //h2
    } //section
  } //article

  #part-of {
    a {
      //display:inline-block;
      color: $navy;
      padding: 0.5em 0;
      cursor: default;
      display: block;
      text-decoration: none;
      h3 {
        font-weight: normal;
        margin: 0;
        cursor: pointer;
        small {
          color: gray;
          font-family: KingsBureauGrotThreeSeven, sans-serif;
          font-size: 0.6em;
          display: inline-block;
          margin-left: 0.3em;
          font-weight: normal;
          //color: #c11609;
          //font-family: "KingsCaslon",serif;
        } //small
      } //h3
      span {
        font-family: KingsBureauGrotThreeSeven, sans-serif;
        display: block;
      } //span
      &:hover {
        color: lighten($navy, 15%);
        text-decoration: underline;
      } //&:hover
    } //a
  }
  ul {
    width: 100%;
    margin-left: -40px;
    list-style-type: none;
    li {
      font-size: 1.2em;
      a {
        //display:inline-block;
        color: black;
        padding: 0.5em 0;
        cursor: default;
        display: block;
        text-decoration: none;
        h2 {
          font-weight: normal;
          cursor: pointer;
          margin: 0;

          &:hover {
            text-decoration: underline;
            //text-decoration-style: double;
          }
        } //h2
        small {
          color: gray;
          font-family: KingsBureauGrotThreeSeven, sans-serif;
          font-size: 0.6em;
          display: inline-block;
          margin-left: 0.3em;
          font-style: normal;
          //color: #c11609;
          //font-family: "KingsCaslon",serif;
        } //small
        span {
          font-family: KingsBureauGrotThreeSeven, sans-serif;
          display: block;
        } //span
      } //a
    } //li
  } //ul
} //main.person

//-- Page Pagination --
nav.pagination {
  margin-top: 5em;
  border-top: 0.2vw solid black;
  width: 100%;
  ol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    li {
      border: none;
      flex: 1;
      display: block;
      text-align: center;
      a {
        color: gray;
        text-decoration: none;
        &:hover {
          color: black;
        } //&:hover
        span {
          display: inline-block;
          font-family: "KingsCaslon", serif;
        }
      } //a
    } //li
  } //ol
} //nav

//-- Footer --
footer {
  background: $darkgray;
  margin-top: 2em;
  .connect {
    padding: 0 1em;
    background: $navy;
    color: white;
    width: 100%;
    .kdl-container {
      display: flex;
      align-items: center;
      h2 {
        font-family: KingsBureauGrotThreeSeven, sans-serif;
        font-weight: 400;
      } //h2
      ul {
        display: flex;
        //justify-content: center;
        align-items: center;
        list-style-type: none;
        li {
          flex-direction: row;
          justify-content: left;
          a {
            color: white;
            min-width: 4em;
            display: block;
            text-decoration: none;
            img {
              width: 3em;
              border: 0.125em solid rgba(0, 0, 0, 0.4);
              padding: 0.7em;
              filter: invert(100%);
              border-radius: 50%;
              &:hover {
                background: white;
                filter: invert(0);
                border: 0.125em solid white;
              } //&:hover
            } //img
            &:hover {
              text-decoration: underline;
            } //&:hover
          } //a
        } //li
      } //ul
    } //.wrapper
  } //.connect
  nav.footer {
    padding: 0 1em;
    color: white;
    .kdl-container {
      display: flex;
      h2 {
        border-bottom: 0.13em solid rgb(139, 146, 150);
        padding-bottom: 0.5em;
        font-family: KingsBureauGrotFiveOne, sans-serif;
        font-weight: 400;
        font-size: 1.4em;
      } //h2
      section {
        margin-right: 2em;
        ul {
          margin-left: -40px;
          li {
            list-style-type: none;
            padding-bottom: 1em;
            a {
              color: white;
              min-width: 6em;
              display: block;
              text-decoration: none;
              font-family: KingsBureauGrotFiveOne, sans-serif;
              &:hover {
                text-decoration: underline;
                text-decoration-style: solid;
              } //&:hover
            } //a
          } //li
        } //ul
        p,
        address {
          font-style: normal;
          line-height: 1.5;
          padding: 0.4em 0 0 0;
          margin: 0;
          a {
            color: white;
            font-family: KingsBureauGrotFiveOne, sans-serif;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
              text-decoration-style: solid;
            } // &:hover
          } //a
        } //p
      } //section
    } //.wrapper
  } //nav.footer
} //footer

@media (max-width: 800px) {
  //-- Header/Navigation --
  header {
    float: none;
    .site {
      a.sitename {
        font-size: 1.5em;
        padding: 0.5em 0;
      } //a.sitename
      a.logo {
        img {
          width: 3.65em;
        } //img
      } // a.logo
    } //.site

    nav.main {
      .kdl-container {
        #menu-toggle {
          ~ ul {
            height: 0;
            width: 0;
            opacity: 1;
            display: none;
            //transition: width 100ms cubic-bezier(0.23, 1, 0.32, 1);
          } //~ ul
          &:checked {
            ~ ul {
              height: 100%;
              width: calc(100% + 40px);
              opacity: 1;
              margin-top: 0;
              display: block;
              //transition: width 100ms cubic-bezier(0.23, 1, 0.32, 1);
            } //~ ul
          } //&:checked
        } //#menu-toggle

        .kdl-menu-button-container {
          display: flex;
          position: absolute;
          right: 7em;
          top: 1.3em;
          flex-direction: row;
          justify-content: normal;
          align-items: initial;
        } //.menu-button-container
        > ul {
          margin-top: 50px;
          width: 100%;
          > li {
            margin: 0;
            width: calc(100% + 40px);
            color: white;
            background-color: darken($darkgray, 10%);
            margin-left: 10px;
            padding: 0;
            &:not(:last-child) {
              border-bottom: 1px solid #444;
              > ul {
                margin-left: -40px;
                > li {
                  padding-left: 20px;
                }
              } // >ul
            } //&:not(:last-child)
          } //> li
        } //ul
      } //.wrapper
    } //nav.main
    nav {
      &.main.kdl-container {
        > ul {
          //position: absolute;
          //top: 0;
          margin-top: 100px;
          //left:0;
          width: 100%;
          //margin-left: 40px;
        } //.ul
      }
    } //.nav.main
    nav.sub {
      border: none;
    } //nav.sub
  } //header

  //-- Project/Organisation Individual Page --
  main.project {
    padding: 1em 1em;
    .kdl-container {
      display: block;
      section {
        width: 100%;
        margin: 0;
        &:last-child {
          width: 100%;
          background: none;
          border-top: 0.01em solid black;
        } //&:last-child{
        #metadata {
          margin: 0;
          padding-top: 1em;
          span {
            background: rgb(40, 195, 130);
            margin-left: 0;
            padding: 0.3em 0.5em;
          }
        } //#metatdata

        #team {
          width: 100%;
          display: block;
          border-top: 0.01em solid;
          h2 {
            width: 100%;
          }
          ul {
            display: block;
          } //ul
        } //#team
      } //>section
    } //.wrapper
  } //.project

  //-- People/Organisations Index Page --

  main.people,
  main.organisations {
    ul {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
    } //ul
  } //main.people

  //-- Person Individual Page --
  main.person {
    article {
      img {
        width: 100%;
        display: block;
      } //img
      section {
        display: block;
        width: 100%;
        padding-left: 0;
        h2 {
          margin-top: 0.5em;
          span {
            display: block;
            font-weight: normal;
            font-size: 0.7em;
            color: gray;
          } //span
        } //h2
      } //section
    } //article
    ul {
      width: 100%;
      margin-left: -40px;
      li {
        font-size: 1.2em;
      } //li
    } //ul
  } //main.person

  //-- Blog Index page --
  main.posts {
    article {
      width: 100%;
      display: block;
      a {
        figure {
          img {
            max-width: 100%;
          } //img
        } //figure
      } //a
      section {
        margin: 1em 0 0 0;
      } //section
    } //article
  } //main.posts
  //-- Blog Individual Page & FAQs --
  main.post,
  main.faqs {
    .kdl-container {
      display: block;
      aside {
        margin: 0 0 1em 0;
        padding: 0.1em 1em;
      } //aside
    } //.kdl-container
  } //main.post, main.faqs

  footer {
    background: $darkgray;
    .connect {
      text-align: center;
      padding: 0.1em 0;
      .kdl-container {
        display: block;
        h2 {
          font-family: KingsBureauGrotThreeSeven, sans-serif;
          font-weight: 400;
          width: 100%;
        } //h2
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
        } //ul
      } //.wrapper
    } //.connect
    nav.footer {
      .kdl-container {
        display: block;
      } //.wrapper
    } //nav.footer
  } //footer
} //@media (max-width: 800px)
