// Fonts
// Mixins
// Colours
// General
// Header/Navigation
// Main
// Projects Index Page
// Project Individual Page
// People/Organisations Index Page
// Person/Organisation Individual Page
// Page Pagination

//-- Fonts --
@import "fonts";

//-- Mixins --
@mixin calc($prop, $val) {
  @each $pre in -webkit-, -moz-, -o- {
    #{$prop}: $pre + calc(#{$val});
  }

  #{$prop}: calc(#{$val});
}

@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
  -moz-transform: translate3d($x, $y, $z);
  -o-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin animation($animation...) {
  -o-animation: $animation;
  -moz-animation: $animation;
  -webkit-animation: $animation;
  animation: $animation;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

//-- Colours --
$blue: #3b5773;
$darkergray: #3e4649;
$darkgray: #5a6369; //rgb(90, 99, 105)
$lightgray: #e6ebed; //rgb(230, 235, 237)
$navy: #0a2d50;
$red: #e12726;

//-- Pagefind --

:root {
  --pagefind-ui-background: white;
  --pagefind-ui-border: #5a6369;
  --pagefind-ui-font: KingsBureauGrotFiveOne, sans-serif;
}

//-- General --
html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: KingsBureauGrotFiveOne, sans-serif;
  font-weight: 400;
  float: left;
  height: 100%;
  margin: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}
section {
  width: 100%;
}

.kdl-container {
  max-width: 1220px;
  margin: 0 auto;
}

//-- Header/Navigation --

header {
  width: 100%;
  .site {
    padding: 0 1em;
    a.sitename {
      font-family: KingsBureauGrotThreeSeven;
      font-weight: 400;
      text-decoration: none;
      color: white;
      position: absolute;
      font-size: 1.6em;
      padding: 0.4em 0;
      span {
        font-size: 1.2em;
      } // span
    } // a.sitename
    a.logo {
      width: 8em;
      text-align: right;
      float: right;
      position: relative;
      align-self: flex-end;
      z-index: 1;

      img {
        width: 8em;
        text-align: right;
        //float: right;
        position: relative;
        display: inline-block;
        //right: initial;
        //margin-left:70%;
        //top: 0;
      } //img
    } // a.logo
  } //.site
  nav {
    &.main {
      z-index: 1;
      background: $darkgray;
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: white;
      height: 50px;
      padding: 0 1em;
      border-bottom: 0.3em solid lightgray;
      //display:flex;
      .kdl-container {
        > ul {
          /* first-level */
          margin: 0 2em 0 auto;
          list-style-type: none;
          float: right;
          > li {
            display: block;
            float: left;
            transition: all ease-out 250ms;
            position: relative; //underline animation
            color: darken(white, 20%);
            &:after {
              content: "";
              position: absolute;
              width: 100%;
              transform: scaleX(0);
              height: 1px;
              bottom: 0;
              left: 0;
              background-color: white;
              transition: transform 0.25s ease-out;
            } //&:after
            &.active {
              background: white;
              position: relative; //underline animation
              a {
                color: black;
              }
              &:after {
                content: "";
                position: absolute;
                width: 100%;
                transform: scaleX(1);
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: white;
                transition: transform 0.25s ease-out;
              } //&:after
            } //&.active
            a,
            label {
              text-decoration: none;
              color: white;
              display: block;
              padding: 0.9em 1em;
              transition: all 0.25s ease-in;
              cursor: pointer;
            } //a
            &:focus,
            &:hover {
              background: $lightgray;
              a,
              label {
                color: black;
              } //a,label
              input[type="checkbox"] + label.kdl-checkbox {
                position: relative;
                &:after {
                  border-color: black;
                } //&:after
              } //input[type="checkbox"] + label.kdl-checkbox
              ul {
                li {
                  a {
                    background: $lightgray;
                  }
                }
              }
            } //&:focus,&:hover
            > ul {
              /* second-level */
              margin-left: -40px;
              height: 100%;
              max-height: 0;
              overflow: hidden;
              transition: max-height 0.5s ease-in-out;
              list-style-type: none;
              li {
                a,
                label {
                  background: $darkgray;
                  &:focus,
                  &:hover {
                    background: white;
                  } // &:focus,&:hover
                } // a,label
                > ul {
                  /* third-level */
                  height: 100%;
                  max-height: 0;
                  overflow: hidden;
                  list-style-type: none;
                  transition: max-height 0.5s ease-in-out;
                  li {
                    a,
                    label {
                      background: #454545;
                      box-shadow: inset 0 -1px lighten(#454545, 7%);
                      &:focus,
                      &:hover {
                        background: darken(#454545, 7%);
                      } // &:focus,&:hover
                    } // a,label
                    > ul {
                      /* fourth-level */
                      height: 100%;
                      max-height: 0;
                      overflow: hidden;
                      transition: max-height 0.5s ease-in-out;
                      list-style-type: none;
                      li {
                        a,
                        label {
                          background: #454545;
                          box-shadow: inset 0 -1px lighten(#454545, 7%);

                          &:focus,
                          &:hover {
                            background: darken(#454545, 7%);
                          } // &:focus,&:hover
                        } // a,label
                      } // li
                    } //ul fourth-level
                  } // li
                } //ul third-level
              } // li second level
            } //ul second-level
          } // li first-level
          input[type="checkbox"]:checked + label + ul {
            /* reset the height when checkbox is checked */
            max-height: 1000px;
          } //input[type=checkbox]:checked + label + ul

          /** chevron icon **/
          input[type="checkbox"] + label.kdl-checkbox {
            position: relative;
            &:after {
              content: "";
              display: inline-block;
              z-index: 1;
              top: 0.15em;
              border-style: solid;
              border-color: white;
              border-width: 1px 1px 0 0;
              height: 0.5em;
              position: relative;
              transform: rotate(135deg);
              transition: 0.35s ease-in-out;
              vertical-align: top;
              width: 0.5em;
              left: 0.5em;
            }
          } // input[type=checkbox] + label.kdl-checkbox
          input[type="checkbox"]:checked + label.kdl-checkbox {
            &:before,
            &:after {
              transform: rotate(-45deg);
            }
            &:before {
              display: none;
            }
          } //input[type=checkbox]:checked + label.kdl-checkbox
        } //.wrapper
      } //ul first-level

      .kdl-menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      } //.menu-button-container

      #menu-toggle {
        display: none;
      } //#menu-toggle

      .kdl-menu-button,
      .kdl-menu-button::before,
      .kdl-menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 2px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      .kdl-menu-button {
        font-size: 0;
        &::before {
          content: "";
          margin-top: -8px;
        } //&::before
        &::after {
          content: "";
          margin-top: 8px;
        } //&::after
      } //.menu-button

      #menu-toggle:checked + .kdl-menu-button-container {
        .kdl-menu-button {
          background: rgba(255, 255, 255, 0);
          &::before {
            margin-top: 0px;
            transform: rotate(45deg);
          } //&::before
          &::after {
            margin-top: 0px;
            transform: rotate(-45deg);
          } //&::after
        } //.menu-button
      } //#menu-toggle:checked + .menu-button-container
    } //.main
  } //.nav.main

  nav.sub {
    background: rgb(230, 235, 237);
    padding: 0.5em 1em;
    border-bottom: 0.7em solid rgb(10, 45, 80);
    ol {
      list-style-type: none;
      margin-left: -40px;
      li {
        display: inline-block;
        margin-right: 1em;
        a {
          color: black;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          } //&:hover
          &:after {
            content: ">";
            position: absolute;
            padding: 0 0.5em;
          } //&:after
        } //a
      } //li
    } //ol
    h1 {
      font-family: KingsBureauGrotThreeSeven, sans-serif;
      margin: 0;
      font-weight: 400;
      small {
        font-weight: normal;
        font-size: 0.6em;
      }
    } //h1
    ul {
      display: block;
      list-style-type: none;
      margin: 0.5em 0 0 -40px;
      li {
        padding: 0 1em;
        border-right: 0.1em solid;
        display: inline-block;
        &:active {
          font-family: KingsBureauGrotThreeSeven, sans-serif;
        }
        a {
          color: black;
          text-decoration: none;
        } //a
        &:hover {
          text-decoration: underline;
        } //&:hover
        &:first-child {
          padding-left: 0;
        } //&:first-child
        &:last-child {
          border-right: none;
        } //&:last-child
      } //li
    } //ul
  } //nav.sub
} //header

//--Main-- (General)

main {
  a {
    text-decoration-style: solid;
    font-weight: 400;
    color: lighten($navy, 7%);
    cursor: pointer;
    &:hover {
      text-decoration-style: dashed;
      color: lighten($navy, 17%);
    }
  } //a

  p {
    line-height: 1.5;
  } //p
  img {
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: KingsBureauGrotThreeSeven;
    font-weight: 400;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.3em;
  }

  button {
    color: white;
    font-family: KingsBureauGrotThreeSeven;
    margin: 0 auto;
    font-size: 1.2em;
    padding: 0.5em 2em;
    background: $navy;
    border:0.1em solid $navy;
    cursor: pointer;
    @include transition(all 300ms ease-in);
    border-radius: 1.1em;
    &:focus,
    &:hover {
      background: white;
      color: $navy;
    }
  }//button
} //main

//--Home--

.home {
  .kdl-container {
    max-width: 1500px;
  }

  h2 {
    margin: 3em 0 2em 0;
    text-align: center;
    text-shadow: rgba(10, 189, 240, 0.25) 5px 5px 0px,
      rgba(254, 1, 1, 0.25) -5px -5px 0px;
    font-size: 3em;
  }

  .hero {
    background-color: $navy;
    color: white;
    height: calc(100vh - 55px);
    position: relative;
    width: calc(100% + 1em);
    margin: 0 -1em 6em -1em;

    video {
      height: 100%;
      left: 0;
      object-fit: cover;
      opacity: 0.5;
      position: absolute;
      top: 0;
      width: 100%;
      @include transition(all 400ms ease-in-out);
    }

    .hero-content {
      color: white;
      left: 50%;
      position: absolute;
      text-align: center;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;

      &:hover {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
        ~ video {
          opacity: 0.3;
        }
      }

      h1 {
        font-size: 2.5em;
        margin: 0;
      }

      p {
        font-size: 2.7em;
        font-family: KingsCaslon, serif;
      }
     button {
        background: rgba(255, 255, 255, 0.8);
        color: $navy;
        border:0.05em solid white;
        &:hover {
          background: white;
          border:0.05em solid $navy;
        }
      }//button
    }//.hero-content

    a.scroll {
      bottom: 1em;
      color: white;
      display: block;
      font-size: 2.4em;
      line-height: 1;
      font-weight: 100;
      position: absolute;
      text-align: center;
      width: 100%;
      z-index: 1;
      opacity: 0.7;
      @include transition(all 300ms ease-in-out);

      &:focus,
      &:hover {
        opacity: 1;
        line-height: 0.7;
        ~ video {
          opacity: 0.3;
        }
      }
    }//a.scroll
  }//.hero


  figcaption {
    display: none;
  }

 .discover, .information, .contact{
    section{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 4em;
      div{
        flex-basis: calc(33.33% - 1.5em);
        margin-bottom: 1.5em;
        padding: 1.5em;
        background-color: lighten($lightgray, 5%);
      }
      a{
        text-decoration: none;
        &:hover{
          text-decoration: underline;
          text-decoration-style: dashed;
        }
      }
    }//section

    figure {
      margin: 0;
      img {
        width: 100%;
        height: 15em;
        object-fit: cover;
      }
    }
    a{
      line-height: 1.5;
      &.browse {
        float: right;
        margin-top: 1.7em;
      } //browse
    }

    .research-themes , .services{
      position: relative;
      padding: 2em;
      &:before {
        content: " ";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        background-image: url("https://images.pexels.com/photos/17485819/pexels-photo-17485819/free-photo-of-an-artist-s-illustration-of-artificial-intelligence-ai-this-image-represents-the-ways-in-which-ai-can-solve-important-problems-it-was-created-by-vincent-schwenk-as-part-of-the-visualis.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
        background-color: #cccccc;
      }//:before
      .research-block, .services-block{
        flex-basis: calc(20% - 1.5em);
        background-color: white;
        position: relative;
      }

    }//.research-themes, .services

    .services{
      &:before {
        background-image: url("https://images.pexels.com/photos/17485710/pexels-photo-17485710/free-photo-of-an-artist-s-illustration-of-artificial-intelligence-ai-this-image-visualises-the-input-and-output-of-neural-networks-and-how-ai-systems-perceive-data-it-was-created-by-rose-pilkington.png?auto=compress&cs=tinysrgb&w=1200&lazy=load");
      }
      .services-block{
        flex-basis: calc(33.3% - 1.5em);
      }
    }//.services-blocks    
  }//.discover, .information, .contact
  .discover{
    h3{
      float: left;
    }
  }//disover
  .contact {
    text-align: center;
  }
}//.home


//-- Projects Index Page --
main.projects {
  a{
    display:block;
    padding: 1em 1.5em 1em 0.5em;
    text-decoration:none;
    border-left:0.2em solid $lightgray;
    &:hover{
      background:lighten(lightgray,15%);
      border-left:0.2em solid lighten($navy,17%);
    }
    p{
      color:black;
      margin: 0.2em 0;
    }
  }
  h2 {
    margin: 0;
    display: inline-block;
    &:hover {
      text-decoration: underline;
      text-decoration-style: dashed;
    }
    small {
      color: $darkgray;
      font-family: KingsCaslon, serif;
      font-size: 0.7em;
      display: inline-block;
      margin-left: 0.3em;
    } //small
  } //h2




}//.projects 











//-- Footer --
footer {
  background: $darkgray;
  margin-top: 8em;
  float: left;
  width: 100%;
  color: white;
  .connect {
    padding: 0 1em;
    background: $navy;
    color: white;
    width: 100%;
    .kdl-container {
      display: flex;
      align-items: center;
      h2 {
        font-family: KingsBureauGrotThreeSeven, sans-serif;
        font-weight: 400;
      } //h2
      ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        li {
          flex-direction: row;
          justify-content: left;
          a {
            min-width: 4em;
            display: block;
            img {
              width: 3em;
              border: 0.125em solid rgba(0, 0, 0, 0.4);
              padding: 0.7em;
              filter: invert(100%);
              border-radius: 50%;
              &:hover {
                background: white;
                filter: invert(0);
                border: 0.125em solid white;
              } //&:hover
            } //img
          } //a
        } //li
      } //ul
    } //.wrapper
  } //.connect
  nav.footer {
    .kdl-container {
      display: flex;
      h2 {
        border-bottom: 0.13em solid rgb(139, 146, 150);
        padding-bottom: 0.5em;
        font-family: KingsBureauGrotFiveOne, sans-serif;
        font-weight: 400;
        font-size: 1.4em;
      } //h2
      section {
        margin-right: 2em;
        ul {
          margin-left: -40px;
          li {
            list-style-type: none;
            padding-bottom: 1em;
            a {
              color: white;
              min-width: 6em;
              display: block;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              } //&:hover
            } //a
          } //li
        } //ul
        p,
        address {
          font-style: normal;
          &.postal {
            line-height: 1.5;
            padding: 0.4em 0 0 0;
            margin: 0;
          }
        }
      } //section
    } //.wrapper
  } //nav.footer
  .footer-end {
    background-color: $darkergray;
    color: white;
    padding: 1.25em 1em;
    text-align: center;
    a{
      color:white;
      opacity:0.8;
      &:hover{
        text-decoration-style: dashed;
        opacity:1;
      }
    }
  }
} //footer