---
layout: layouts/projects.njk
title: Projects
eleventyNavigation:
  key: Projects
  order: 2
pagination:
  data: collections.projectsByDate
  size: 25
  alias: paginatedProjects
---

Explore a chronological listing of KDL's projects.
