
//MENU

// Fonts
// Mixins
// Colours
// General
// Grid
// Header



// Fonts
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Pragati+Narrow:wght@700&display=swap');

// Mixins

@mixin calc($prop, $val) {
  @each $pre in -webkit-, -moz-, -o- {
    #{$prop}: $pre + calc(#{$val});
  }

  #{$prop}: calc(#{$val});
}

@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
  -moz-transform: translate3d($x, $y, $z);
  -o-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
     -moz-transform: rotate($degrees);
      -ms-transform: rotate($degrees);
       -o-transform: rotate($degrees);
          transform: rotate($degrees);
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin animation($animation...) {
       -o-animation: $animation;
     -moz-animation: $animation;
  -webkit-animation: $animation;
          animation: $animation;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


// ** Colours

$black: #1a1a1a;
$white: #fff;
$gray: #888;
$red: #c11609;

// ** General
.page-anchor {
  display: inline-block;
  height: 0;
  overflow: hidden;
  width: 0;
}
html,
body {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  height: 100%;
  font-family: 'PT Serif', serif;
  width: 100%;
}

[hidden] {
  /* Hidden fallback */
  display: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}

h5 {
  text-align: center;
}

strong.title {
  display: block;
}

*,
*:before,
*:after {
  outline: none;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    opacity: 0.7;
  }
} //a

// ** Header

header{
  padding: 1% 0 3em 0;
  #sitename {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
  } //#sitename
  #kcl-logo {
    position: absolute;
    top: 0;
    right: 0;
    img{
      width:9em;
    }
  } //#kcl-logo
}//header





/***** Privacy Policy *****/
/** #privacy-alert{
    background: rgba(0,0,0, 0.8);
    bottom: 0;
    color: #fff;
    display: none;
    padding: 40px 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 100;

    a{
        color: #aaa;
        border-bottom: 1px solid #aaa;

        &#privacy-alert-agree{
            border: 1px solid #fff;
            color: #fff;
            cursor: pointer;
            display: block;
            margin: 20px auto 0 auto;
            padding: 5px 0;
            width: 100px;
        }
    }
} **/

/***** Navigation *****/

// MENU
#menu {
  >ul {
      position: fixed;
      z-index:999;
      height:100vh;
      width:100%;
      top:0;
      left:0;
      margin: 0;
      @include transition(all 500ms ease-in); 
      background: lighten(black,12%);
      padding: 5em 0 0 3em;
      line-height: 1.4;
    overflow:scroll;
text-align:left;
visibility: hidden;
opacity: 0;
transition: visibility 0s linear 500ms, opacity 300ms;
font-size:1.5em;
      .active {
background:rgba(255,255,255,0.1);
border-left:2px solid white;
}

//First-level
li{
  color:white;
  a{
    color:white;
  }//a
  ul{ 
    //Second-level
    li{               
      a{
        color:white;
      }//a
    }//li
  }//l
}//li



    
        &:last-of-type {
    padding-bottom:50vh;
  }//&:not(:last-of-type)
    
  
  }//ul
  label {
      display: block;
      @include transition(all 500ms ease-in); 
      z-index: 2;
      cursor: pointer;
      color: black;
      z-index:1000;
      position: absolute;
      left: 5%;
      top:5%;
          &:before{
            content: '';
            position: fixed;
            right: 0;
            top: 0;
            height: 1.7em;
            width: 1.7em;
            text-align:center;
            padding:0.1em 0.1em 0 0;
            color: white;
            cursor: pointer;
            font-size: 1.3em;
            line-height: 2;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s linear 800ms, opacity 800ms;
          }
      }//label
  
      input#nav-menu[type="checkbox"] {
        display: none;
    }
    input#nav-menu[type="checkbox"]:checked~ul{
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 500ms;
    }
    input#nav-menu[type="checkbox"]:checked~label.nav-menu{
            right:0;
            top:5%;
            position:absolute;
            @include transform(rotate(0));
            background:none;
            box-shadow:none;
            /* cross icon */
            &:before {
    content: "X";
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 800ms;
            }
            &:after {   
              @include transition(all 500ms ease-in); 
            }
            &:hover{
              &:before{   
                opacity:0.7;
              }
        }//hover
    }
}/* end menu*/
//** MAIN PAGE

main {
  padding: 0 5%;
//BREADCRUMBS
>header{
  padding: 0;
  background: rgba(255, 255, 255, 0.95);

  ul {
    margin: 0;
    li {
      list-style-type: none;
      margin-left: -40px;
      font-size: 0.8em;
      a {
        color: gray;
        font-weight: bold;
        display: inline-block;
        line-height: 1.3;
      } //a
      &::after {
        content: ">";
        position: absolute;
        padding: 0 0.5em;
      } //&::after
    } //li
  } //ul
  ol {
    margin-left: -40px;
  }
  h1 {
    font-size: 1.6em;
    border-bottom: 0.2vw solid black;
    font-weight: normal;
    margin:0;
    padding:0;
  }
} //ul
}//header

//SECTION
section {
  margin: 3vw 0 0 0;

// PROJECT INDEX
ol{
  display: flex;
	flex-wrap: wrap;
  margin-left: -40px;
  list-style-type: none;
  li{
    display:flex;
    width:47.5%;
    border-bottom:1px solid lightgray;
    margin:1% 5% 1% 0;

    &:nth-child(even){
      margin-right:0;
    }//&:nth-child(odd)
    .index-information{
      display:block;
      width:100%;
      margin-right:2%;
      h2{
        margin:0;
        span{
          color:$red;
          display:block;
          font-size:0.5em;
        }//span
      }//h2
        dl {
          dt {
            margin-top: 1.2vw;
            font-size: 0.8em;
            display: none;
          } //dt
          dd {
            margin-left: 0;
            &:last-child{
              color:grey;
              font-size:0.7em;
            }
          } //dd


        } //dl
      

    }//.index-information
    figure {
      position: relative;
      margin: 0;
      width: 100%;
      img {
        width: 100%;
        height: 15vw;
        object-fit: cover;
      }
      figcaption {
        position: absolute;
        bottom: 0.5vw;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: white;
        font-size: 0.8em;
        padding: 0.5vw;
      } //figcaption
    } //figure
  }//li
}//ol

//PAGE PAGINATION
nav{
  margin-top:5em;
  border-top:0.2vw solid black;
  ol{  
    li{
     border:none;
      width:17%;
      display: block;
      text-align: center;
      a{
        color:gray;
      }//a      
    }//li
  }//ol
}//nav
} //section





//FOOTER
footer {
  margin-top:5em;
  border-top: 0.3vw solid black;
  bottom: 0;
  left: 0;
  padding: 0 1em;

  li {
    list-style: none;

  }//footer
}//main

/* CONTENT CONTAINER */
.container {
  //max-width: 1500px;
  min-width: 200px;
  margin: 0 auto;
  max-width: 2000px;
} //.container







// List Grid Radio

// Grid style (default view)
li {
  float: none;
}

// Set styles for a checked radio/option
.radio {
  display: none;

  + label {
    color: gray;
    cursor: pointer;
    display: inline-block;
    @include transition(all 200ms ease-in);
    &:hover {
      opacity: 0.7;
    }
  }
}

// Set the checked styles for our labels
.radio:checked {
  + label {
    color: black;
    border-bottom: 0.1vw solid black;
    @include transition(all 200ms ease-in);
  }
}

// Styles for our List radio being checked
.list-view:checked {
  // Find the sibling content container div
  ~ ol {
    // Adjust styles for the individual block items

    li {
      display: flex;
      border: 0.1vw solid black;
      border-bottom: none;
      padding: 0.5vw;
      &:last-of-type {
        border-bottom: 0.1vw solid black;
      }

      a h2 {
        width: 40vw;
        margin: 0;
        font-size: 1em;
      }
      figure {
        display: none;
        float: left;
        margin-right: rem(15);
      }
      dl {
        width: 30vw;
        display: flex;
        dt {
          width: 15vw;
        }
        dd {
          width: 15vw;
        }
      } //dl
    } //li
  } //ol
} //.list-view:checked

// List Grid Radio



//* PROJECT PAGE
.funder {
  ul {
    margin-left: -40px;
    li {
      list-style-type: none;
    }
  }
}
#links {
  ul {
    margin-left: -40px;
    li {
      list-style-type: none;
      margin-top: 1vw;
      a {
        color: white;
        background: black;
        padding: 0.5em;
        display: block;
        border: 1px solid black;
        text-align: center;
        @include transition(all 200ms ease-in);
        &:hover {
          border: 1px solid black;
          background: white;
          color: black;
          @include transition(all 200ms ease-in);
        } //&:hover
      } //a
    } //li
  } //ul
} //#links

#information {
  dl {
    dt {
      margin-top: 1.2vw;
      font-size: 0.8em;
    } //dt
    dd {
      margin-left: 0;
    } //dd
  } //dl
} //#information

#team {
  border-top: 1px solid black;
  ul {
    margin-left: -40px;
    li {
      list-style-type: none;
    } //li
  } //ul
} //#team
//* END PROJECT PAGE

//* End MAIN PAGE
