version: "3"

services:
  cms:
    build:
      dockerfile: docker/local/cms/Dockerfile
    ports:
      - 8055:8055
    volumes:
      - ./cms:/srv/app
      - /srv/app/node_modules

  data:
    build:
      dockerfile: docker/local/data/Dockerfile
    volumes:
      - ./data:/srv/app
      - /srv/app/node_modules

  database:
    volumes:
      - ./.volumes/postgres_data:/var/lib/postgresql/data
      - ./.volumes/postgres_backups:/backups
