{% extends "kdl/base.njk" %}

{% set baseUrl = config.baseUrl %}
{% set assetsPath = config.paths.assets %}
{% set imagesPath = config.paths.images %}
{% set mainClass = layout | replace("layouts/", "") | replace(".njk", "") %}
{% set stylesheetsPath = config.paths.stylesheets %}

{% block headExtra %}
  <base href="{{ baseUrl }}" />
{% endblock headExtra %}

{% block headMeta %}
  {% seo "" %}
{% endblock headMeta %}

{% block headerStart %}
  <div class="site">
    <div class="kdl-container">
      <a class="sitename" href="/">{{ config.title }}</a>
      <a class="logo" href="//kcl.ac.uk">
        <img src="{{ config.feature.image }}"
             alt="{{ config.feature.description }}">
      </a>
    </div>
  </div>
{% endblock headerStart %}

{% block menu %}
  {{- navMacro({
    title: "Menu",
    pages: collections.all | eleventyNavigation,
    currentUrl: page.url
    }, {
    action: "menu-toggle",
    class: "main",
    nested: true,
    ordered: false
    }) 
  -}}
{% endblock menu %}

{% block headerEnd %}
  {% if navKey and navKey != "Home" %}
    {{- breadcrumbsMacro({
        pages: collections.all | eleventyNavigationBreadcrumb(navKey, { includeSelf: true }) 
    }, {class: "sub"})
    -}}
  {% endif %}
{% endblock headerEnd %}
 
{% block content %}
  <div class="kdl-container">
    <h1>{{ title | safe }}</h1>

    {% include "partials/toc.njk" %}
    <article>
    {{ content | safe }}
    </article>
  </div>
{% endblock content %}

{% block footer %}
  <footer>
    {% include "partials/footer.njk" %}

  </footer>
{% endblock footer %}
