<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="King's Digital Lab" />
  {% seo "" %}

  <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
  <div class="wrapper">
    <input id="menu-switch" type="checkbox" checked="">
    {% include "partials/header.njk" %}
    <main>
        <div id="sitename">
    King's Digital Lab
  </div>
      <div id="kcl-logo">
    <img src="https://kdl.kcl.ac.uk/static/images/kings-logo-red.svg" alt="King's College London logo">
  </div>
              <label for="menu-switch" id="menu-toggle"></label>
      {{ content | safe }}
    </main>
  </div>
</body>

</html>
