---
layout: layouts/base.njk
---

{{ content | safe }}

<ul>
  {% for group in faqs|sort(false, false, "data.order") %}
  <li>
    <h3>{{ group.data.title }}</h3>
    {% set tag = group.data.slug %}
    <ul>
      {% for faq in collections[tag] %}
      <li>
        <a href="{% route faq.url %}">{{ faq.data.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
