---
layout: layouts/base.njk
---
<article>
  {{ content | safe }}

  {% for faq in faqs %}
    <article>
      <h2 id="{{ faq.data.title | slugify }}">{{ faq.data.title }}</h2>
      {{ faq.data.content | safe }}
    </article>
  {% endfor %}
</article>
