---
layout: layouts/base.njk
---

{% from "kdl/components/image/macros.njk" import imageMacro %}
{% from "kdl/components/time/macros.njk" import timeMacro %}

<!-- Hero Section -->
<section class="hero">
  <div class="hero-content">
    {{ content | safe }}
    <a href="/about/">
      <button>About us</button>
    </a>
  </div>
  <a class="scroll"
     href="#discover"
     aria-label="Scroll down for mode content">
    <ion-icon name="chevron-down-outline" aria-label="Outlined chevron icon pointing down"></ion-icon>
  </a>
  <video autoplay loop muted playsinline>
    <source src="/assets/videos/network.mp4" type="video/mp4">
    <!-- Add additional video sources for different formats if needed -->
    Your browser does not support the video tag.
  </video>
</section>

<div class="kdl-container">
  <section class="discover">
    <h2>Discover</h2>

    <h3>Featured projects</h3>
    <a class="browse" href="/projects/">Browse all projects</a>
    <section class="projects">
      {% for project in projects | featuredProjects %}
        <div class="project">
          {% set image %}
            {% getDirectusAsset project.image.id %}
          {% endset %}
          {{- imageMacro({image: image, description: project.image.description }) -}}
          <h4>
            <a href="{% route project.slug, 'Projects' %}">{{ project.name }}</a>
          </h4>
          <p>{{ project.description | renderMd | truncate(250) | safe }}</p>
        </div>
      {% endfor %}
 

    </section>

    <h3>Latest blog posts</h3>
    <a class="browse" href="/blog/">Browse all posts</a>
    <section class="blog">
      {% for post in collections.post | featuredPosts %}
        <div class="post">
          {{- imageMacro(post.data.feature) -}}
          <small>{{ timeMacro(post.data.date) -}}</small>
          <h4>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
          </h4>
          <p>{{ post.data.excerpt | safe }}</p>
        </div>
      {% endfor %}

    </section>
  </section>

  <section class="information">
    <h2>Information</h2>

    {% for section in home %}
      <h3>{{ section.title }}</h3>
      <p>{{ section.description }}</p>
      <section class="{{ section.class }}">
        {% for item in section.items %}
          <div class="{{ section.class }}-block">
            <h4>{{ item.title }}</h4>
            <p>{{ item.description }}</p>
          </div>
        {% endfor %}
      </section>
    {% endfor %}

    <h3>Services</h3>
    <p>
      We cultivate an inclusive, collaborative, generative and supportive research environment to help nurture the next generation of researchers, while also supporting colleagues to gain new digital skills and engage with cutting edge research.
    </p>
    <section class="services">
      <div class="services-block">
        <h4>Pre-project</h4>
        <ul>
          <li>Funding proposals</li>
          <li>Consultancy</li>
          <li>Data analysis</li>
        </ul>
      </div>
      <div class="services-block">
        <h4>Evolutionary Development</h4>
        <ul>
          <li>Web Development</li>
          <li>Data modelling</li>
          <li>Digital Accessibility</li>
          <li>Experimental Prototypes</li>
        </ul>
      </div>
      <div class="services-block">
        <h4>Post Project</h4>
        <ul>
          <li>Archiving and Sustainability</li>
          <li>Migration</li>
          <li>Analytics analysis</li>
          <li>Web and data hosting</li>
          <li>Contribution to papers</li>
        </ul>
      </div>
    </section>
  </section>

  <section class="contact">
    <h2>Interested in working with us?</h2>
    <a href="https://forms.clickup.com/26475560/f/t7z18-72308/NK252MBKP2M3U8YGXU">
      <button>Contact us</button>
    </a>
    <p>
      <a href="/faqs/">Frequently Asked Questions</a>
    </p>
  </section>
</div>
