---
layout: layouts/base.njk
---

{% from "kdl/components/image/macros.njk" import imageMacro %}
{% from "kdl/components/time/macros.njk" import timeMacro %}

<!-- Hero Section -->
<section class="hero">
  <div class="hero-content">
    {{ content | safe }}
    <a href="/about/">
      <button>About us</button>
    </a>
  </div>
  <a class="scroll" href="#discover">
    <ion-icon name="chevron-down-outline"></ion-icon>
  </a>
  <video autoplay loop muted playsinline>
    <source src="/assets/videos/network.mp4" type="video/mp4">
    <!-- Add additional video sources for different formats if needed -->
    Your browser does not support the video tag.
  </video>
</section>

<!--<section id="about" class="about">
  <h2>About us</h2>
  <p>
    King’s Digital Lab (KDL) is a Research Software Engineering (RSE) team within King’s College London
    Faculty of Arts and Humanities. Our focus is on designing and implementing systems, infrastructure,
    tools, and processes to produce high-quality digital scholarly outputs. At KDL, we embrace a
    collaborative and open culture, fostering co-research as new tools and methods emerge.
  </p>
  <p>
    <a href="/about/">
      <button>Read more about us</button>
    </a>
  </p>
</section>-->

<section id="discover" class="discover">
  <h2>Discover</h2>

  <h3>Featured projects</h3>
  <a class="browse" href="/projects/">Browse all projects</a>
  <section class="projects">
    {% for project in projects | featuredProjects %}
      <div class="project">
        {% set image %}
          {% getDirectusAsset project.image.id %}
        {% endset %}
        {{- imageMacro({image: image, description: project.image.description }) -}}
        <h4>
          <a href="{% route project.slug, 'Projects' %}">{{ project.name }}</a>
        </h4>
        <p>{{ project.description | renderMd | truncate(250) | safe }}</p>
      </div>
    {% endfor %}
 

  </section>

  <h3>Latest blog posts</h3>
  <a class="browse" href="/blog/">Browse all posts</a>
  <section class="blog">
    {% for post in collections.post | featuredPosts %}
      <div class="post">
        {{- imageMacro(post.data.feature) -}}
        <small>{{ timeMacro(post.data.date) -}}</small>
        <h4>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </h4>
        <p>{{ post.data.excerpt | safe }}</p>
      </div>
    {% endfor %}

  </section>
</section>

<section class="information">
  <h2>Information</h2>

  <h3>Research Themes</h3>
  <p>
    Our research themes expresses the overarching goals of King's Digital Lab, which align our academic strengths, that we will actively conduct studies into, to be used as a basis for meaningful and positive cultural and policy changes, to best meet the grand scientific, social and environmental challenges of our time.
    <section class="research-blocks">
      <div class="research-block">
        <h4>Digital Humanities</h4>
        <p>
          an area of scholarly activity at the intersection of computing or digital technologies and the disciplines of the humanities. It includes the systematic use of digital resources in the humanities, as well as the analysis of their application.
        </p>
      </div>
      <div class="research-block">
        <h4>Digital Creativity</h4>
        <p>
          using digital tools and technologies to explore creative ideas, apply different approaches, and find new ways of displaying your work and research.
          <p>
          </div>
          <div class="research-block">
            <h4>Indigenous Heritage</h4>
            <p>
              Ideas, experiences, worldviews, objects, forms of expressions, practices, knowledge, spirituality, kinship ties and places valued by Indigenous Peoples. Indigenous heritage is intrinsic to Indigenous well-being and held for all generations.
            </p>
          </div>
          <div class="research-block">
            <h4>Machine Learning</h4>
            <p>
              The use and development of computer systems that are able to learn and adapt without following explicit instructions, by using algorithms and statistical models to analyse and draw inferences from patterns in data.
            </p>
          </div>
          <div class="research-block">
            <h4>Data visualisation</h4>
            <p>
              the graphical representation of information and data. By using visual elements like charts, graphs and maps, data visualisation tools provide an accessible way to see and understand trends, outliers and patterns in data.
            </p>
          </div>
        </section>

        <h3>Services</h3>
        <p>
          We cultivate an inclusive, collaborative, generative and supportive research environment to help nurture the next generation of researchers, while also supporting colleagues to gain new digital skills and engage with cutting edge research.
        </p>
        <section class="services-blocks">
          <div class="services-block">
            <h4>Pre-project</h4>
            <ul>
              <li>Funding proposals</li>
              <li>Consultancy</li>
              <li>Data analysis</li>
            </ul>

          </div>
          <div class="services-block">
            <h4>Evolutionary Development</h4>
            <ul>
              <li>Web Development</li>
              <li>Data modelling</li>
              <li>Digital Accessibility</li>
              <li>Experimental Prototypes</li>
            </ul>
          </div>
          <div class="services-block">
            <h4>Post Project</h4>
            <ul>
              <li>Archiving and Sustainability</li>
              <li>Migration</li>
              <li>Analytics analysis</li>
              <li>Web and data hosting</li>
              <li>Contribution to papers</li>
            </ul>
          </div>
        </section>
      </section>

      <section class="contact">
        <h2>
          <span>Have an idea or ready to</span> start your research <span>project?</span>
        </h2>
        <a href="https://forms.clickup.com/26475560/f/t7z18-72308/NK252MBKP2M3U8YGXU">
          <button>Contact us</button>
        </a>
        <p>
          <a href="/faqs/">Frequently Asked Questions</a>
        </p>
      </section>

      <!--<section class="information">
  <h2>Information</h2>
  <section class="info-blocks">
    <div class="info-block">
      <h3>
        <a href="/about/">
          <figure>
            <img src="https://thenounproject.com/api/private/icons/1578988/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0">
          </figure>
          About us
        </a>
      </h3>
    </div>
    <div class="info-block">
      <h3>
        <a href="/about/team">
          <figure>
            <img src="https://thenounproject.com/api/private/icons/1546826/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0">
          </figure>
          Team
        </a>
      </h3>
    </div>
    <div class="info-block">
      <h3>
        <a href="/faqs/">
          <figure>
            <img src="https://thenounproject.com/api/private/icons/1579050/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0">
          </figure>
          FAQs
        </a>
      </h3>
    </div>
  </section>
</section>-->
