---
layout: layouts/base.njk
permalink: "about/organisations/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}/"
---
<ul start="{{ pagination.pageNumber * 10 + 1 }}">
  {%- for org in paginatedOrganisations -%}
    <li>
        <a href="{% route org.agent.slug, 'Organisations' %}">
          <h2>{{ org.agent.name }}</h2>
        </a>
    </li>
  {%- endfor -%}
</ul>
{% set label = "Organisations" %}
{% include "partials/pagination.njk" %}
