---
layout: layouts/base.njk
templateClass: tmpl-home
---

{{ organisation.id }}: {{ organisation.agent.name }}

{% set funded = projects | fundedProjects(organisation) %}
{% for project in funded %}
{{ project.name }}
{% endfor %}
