---
layout: layouts/agent.njk
---

{% set funded = projects | fundedProjects(agentInstance) %}
{% if funded %}
<div id="funded">
  <h2>Funded</h2>
  <ul>
    {% for project in funded %}
    <li>
      <a href="/projects/{{ project.slug }}/">{{ project.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
