---
layout: layouts/base.njk
templateClass: tmpl-home
permalink: "about/organisations/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}/"
---

<header>
  {% set navKey = eleventyNavigation.key %}
  {% include "partials/breadcrumbs.njk" %}
  <h1>Organisations</h1>
</header>

<input type="radio" name="view-filter" id="grid" class="radio" checked>
<label for="grid">⊞ Grid</label> |
<input type="radio" name="view-filter" id="list" class="list-view radio">
<label for="list"> ≣ List</label>

<ol start="{{ pagination.pageNumber * 10 + 1}}">
  {%- for org in paginatedOrganisations -%}
  <li>
    <a href="/about/organisations/{{ org.agent.slug }}/">
      <h2>{{ org.agent.name }}</h2>
    </a>
  </li>
  {%- endfor -%}
</ol>

{% set label = "Organisations" %}
{% include "partials/pagination.njk" %}
