---
layout: layouts/base.njk
permalink: "about/people/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}/"
---

{% set assetsPath = config.paths.assets %}

{{ content | renderMd | safe }}

<div class="wrapper">
  <ul>
    {%- for type, items in collections.people | groupby('data.index') -%}
      <li>
        <h2>{{ type }}</h2>
        <ol>
          {%- for item in items -%}
            {% set person = item.data.agentInstance %}
            {% set kdlTeamMember = team | filter(person.agent.slug, 'slug') | first %}
            <li {% if kdlTeamMember %}class="kdl-member"{% endif %}>
              <a href="{% route person.agent.slug, 'People' %}">{{ person.agent.name }}</a>
              {% if kdlTeamMember %}
                <sup title="Current KDL team member">KDL</sup>
                <!--<img src="{{ assetsPath }}/icons/team.png"
                     alt="Current KDL team member icon"
                     title="Current KDL team member">-->
              {% endif %}
            </li>
          {%- endfor -%}
        </ol>
      </li>
    {%- endfor -%}
  </ul>
</div>
