---
layout: layouts/agent.njk
---

{% set agent = agentInstance.agent %}

<section>
  {% if agentInstance.jobTitle %}
    <h2>{{ agentInstance.jobTitle.name }}</h2>
  {% else %}
    {% set member = team | filter(agent.slug, 'slug') | first %}
    {% if member %}<h2>{{ member.jobTitle }}</h2>{% endif %}
  {% endif %}
  {% if agent.description %}{{ agent.description | renderMd | safe }}{% endif %}
</section>

{% set projects = agent.memberOf | getAgentProjects %}
{% set organisations = agent.memberOf | getAgentOrganisations %}

{% if projects.length > 0 %}
  <section id="part-of">
    <h2>Projects</h2>
    <ul>
      {% for member in projects | sort(false, false, "inProject.slug") %}
        <li>
          {% if member.inProject %}
            <a href="{% route member.inProject.slug, 'Projects' %}">
              {% set level = 3 %}
              {% set project = member.inProject %}
              {% set showTitle = true %}
              {%- include "partials/project.njk" -%}
            </a>
          {% else %}
            <a href="{% route member.inOrganisation.agent.slug, 'Organisations' %}">{{- member.inOrganisation.agent.name -}}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}

{% if organisations.length > 0 %}
  <section id="part-of">
    <h2>Organisations</h2>
    <ul>
      {% for member in organisations | sort(false, false, "inOrganisation.agent.slug") %}
        <li>
          <a href="{% route member.inOrganisation.agent.slug, 'Organisations' %}">{{- member.inOrganisation.agent.name -}}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
