---
layout: layouts/base.njk
permalink: "blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}/"
---

<ol start="{{ pagination.pageNumber * 25 + 1}}">
  {%- for post in posts -%}
  <li>
    <a href="{% route post.url %}">
      <h2>{{ post.data.title }}</h2>
    </a>
    <div class="index-information">
      <em>{{ post.data.excerpt }}</em>
      {% set authors = post.data.authors %}
      {% set date = post.date %}
      {% include "partials/byline.njk" %}
    </div>
  </li>
  {%- endfor -%}
</ol>

{% set label = "Posts" %}
{% include "partials/pagination.njk" %}
