---
layout: layouts/base.njk
permalink: "blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}/"
---
{% from "kdl/components/article/macros.njk" import articleMacro %}
{%- for post in posts -%}
    {{-
    articleMacro(post.data, {
    addLink: true,
    contentField: "excerpt"
    })
    -}}
{%- endfor -%}
{% set label = "Posts" %}
{% include "partials/pagination.njk" %}
