---
layout: layouts/base.njk
---

<article>
  <header class="post-meta">
    {% include "partials/byline.njk" %}
  </header>
  {% if feature and feature.image %}
  <div id="images">
    <figure>
      <img src="{% route feature.image %}" alt="{{ feature.description }}">
      <figcaption>{{ feature.description }}</figcaption>
    </figure>
  </div>
  {% endif %}

  {{ content | safe }}
</article>
