---
layout: layouts/base.njk
templateClass: tmpl-home
---

<header>
  {% set navKey = "Projects" %}
  {% include "partials/breadcrumbs.njk" %}
  <!-- Project title -->
  <h1>
    {{- project.name }}
    {%- if project.alternateName %} <span>{{ project.alternateName }}</span>{% endif -%}
  </h1>
</header>

<section>

  <!-- Images -->
  <div id="images">
    <figure>
      <img src="https://placeimg.com/640/480/arch" alt="random technology image from placeimg.com">
      <figcaption>
        image caption
      </figcaption>
    </figure>
  </div>

  <!-- Overview -->
  {% if project.description %}
  <div id="overview">
    <p>{{ project.description }}</p>
  </div>
  {% endif %}

  {% if project.funder %}
  <div class="funder">
    <h2>Funder</h2>
    <ul>
      {% for funder in project.funder %}
      <li>
        <a href="/organisations/{{ funder.agent_id.id }}/">
        {{ funder.agent_id.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if project.url %}
  <div id="links">
    <ul>
      {% for url in project.url %}
      <li>
        <a href="{{ url.linkrole_id.url }}" role="button">{{ url.linkrole_id.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <!-- Information -->
  <div id="information">
    {% include "partials/project.njk" %}
  </div>

  <!-- Team -->
  {% if project.member %}
  <div id="team">
    <h2>Team</h2>
    <ul>
      {% for member in project.member|sort(false, false, "agent.name") %}
      <li>
        <a href="/people/{{ member.agent.id }}/">{{ member.agent.name }}</a>,
        {{ member.name }}
        {%- if member.inOrganisation -%}, {{ member.inOrganisation.agent.name }}{%- endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

</section>
