---
layout: layouts/base.njk
---
{% from "kdl/components/image/macros.njk" import imageMacro %}

<article>
  <!-- Images -->
  <section id="images">
    {{ imageMacro(obj.feature) }}
  </section>

  <!-- Overview -->
  {% if project.description %}
    <section id="overview">
      <p>{{ project.description }}</p>
    </section>
  {% endif %}

  {% if project.url %}
    <section id="links">
      <ul>
        {% for url in project.url %}
          <li>
            <a href="{% route url.linkrole_id.url %}" role="button">{{ url.linkrole_id.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}

  <!-- Information -->
  <section id="metadata">
    {% if project.funder %}
      <section class="funder">
        <h2>Funder</h2>
        <ul>
          {% for funder in project.funder %}
            <li>
              <a href="{% route funder.agent_id.slug, 'Organisations' %}">{{- funder.agent_id.name -}}</a>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}

    {% include "partials/project.njk" %}
  </section>

  <!-- Team -->
  {% if project.member %}
    <section id="team">
      <h2>Team</h2>
      <ul>
        {% for member in project.member|sort(false, false, "agent.name") %}
          <li>
            <a href="{% route member.agent.slug, 'People' %}">{{ member.agent.name }}</a>,
            {{ member.roleName.name }}
            {%- if member.inOrganisation -%}, {{ member.inOrganisation.agent.name }}{%- endif %}
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
</article>
