---
layout: layouts/base.njk
templateClass: tmpl-home
---

<header>
  {% set navKey = "Projects" %}
  {% include "partials/breadcrumbs.njk" %}
  <h1>{{ project.name }}</h1>
</header>
<section>
  <dl>
    {% include "partials/project.njk" %}
  </dl>
</section>
