---
layout: layouts/base.njk
templateClass: tmpl-home
---

<header>
  {% set navKey = eleventyNavigation.key %}
  {% include "partials/breadcrumbs.njk" %}
  <h1>Projects</h1>
</header>
<section>
<dl>
  {%- for project in projects -%}
    <dt>Project name</dt>
    <dd><a href="/projects/{{ project.slug }}/">{{ project.name }}</a></dd>
    {% include "partials/project.njk" %}
  {%- endfor -%}
</dl>
</section>
