---
layout: layouts/base.njk
---

<header>
  {% include "partials/breadcrumbs.njk" %}
  <h1>{{ title }}</h1>
</header>

{{ content | safe }}

<ol>
  {%- for resource in collections.resource | sort(false, false, "data.title") -%}
  <li>
    <a href="{{ resource.url }}">
      <h2>{{ resource.data.title }}</h2>
    </a>
  </li>
  {%- endfor -%}
</ol>
