---
layout: layouts/base.njk
---

{{ content | safe }}

<ol>
  {%- for resource in collections.resource | sort(false, false, "data.title") -%}
  <li>
    <a href="{{ resource.url }}">
      <h2>{{ resource.data.title }}</h2>
    </a>
  </li>
  {%- endfor -%}
</ol>
