---
layout: layouts/base.njk
permalink: "about/people/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}/"
---

{% for team, items in team | groupby("team") %}
  {% if team != "KDL" %}<h2>{{ team }}</h2>{% endif %}
  <ul>
    {%- for item in items -%}
      {% set agent = people | filter(item.slug, 'agent.slug') | first %}
      <li>
        <h3>
          {% if agent %}
            <a href="{% route item.slug, 'People' %}">{{ agent.agent.name }}</a>
          {% else %}
            {{ item.slug }}
          {% endif %}
        </h3>
        <p>{{ item.jobTitle }}</p>
      </li>
    {%- endfor -%}
  </ul>
{%- endfor -%}
