---
layout: layouts/base.njk
permalink: "about/people/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}/"
---

<ul>
  {%- for person in people -%}
    {% for member in person.memberOfKDL %}
      <li>
        <h2>
          <a href="{% route person.agent.slug, 'People' %}">{{ person.agent.name }}</a>
        </h2>
        <p>
          {{ member.role }}
          {%- if member.startYear %}, {{ member.startYear }}&#8211;{{ member.endYear }}{% endif %}
        </p>
      </li>
    {% endfor %}
  {%- endfor -%}
</ul>
