---
layout: layouts/base.njk
permalink: "about/people/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}/"
---

<ul>
  {%- for person in team -%}
    {% set agent = people | filter(person.slug, 'agent.slug') | first %}
    <li>
      <h2>
        <a href="{% route person.slug, 'People' %}">
          {% if agent %}
            {{ agent.agent.name }}
          {% else %}
            {{ person.slug }}
          {% endif %}
        </a>
      </h2>
      <p>{{ person.jobTitle }}</p>
    </li>
  {%- endfor -%}
</ul>
