<div class="connect">
  <div class="kdl-container">
    <h2>Connect with King’s Digital Lab</h2>
    <ul>
      <li>
        <a href="//twitter.com/kingsdigitallab/" title="KDL on Twitter">
          <img src="/assets/icons/twitter.svg" alt="Twitter icon">
        </a>
      </li>
      <li>
        <a href="//github.com/kingsdigitallab/" title="KDL on GitHub">
          <img src="/assets/icons/github.svg" alt="GitHub icon">
        </a>
      </li>
    </ul>
  </div>
</div>
<nav class="footer">
  <div class="kdl-container">
    <section>
      <h2>Information</h2>
      <ul>
        <li>
          <a href="/about/team/">Team</a>
        </li>
        <li>
          <a href="/faqs/">Frequently Asked Questions</a>
        </li>
        <li>
          <a href="/about/people/">People</a>
        </li>
        <li>
          <a href="/about/organisations/">Organisations</a>
        </li>
        <li>
          <a href="/sitemap.xml">Site map</a>
        </li>
      </ul>
    </section>
    <section>
      <h2>Policies</h2>
      <ul>
        <li>
          <a href="/accessibility-statement/">Accessibility statement</a>
        </li>
        <li>
          <a href="/privacy-policy/">Privacy policy</a>
        </li>
        <li>
          <a href="/terms-and-conditions/">Terms &amp; conditions</a>
        </li>
      </ul>
    </section>
    <section>
      <h2>Contact us</h2>
      <ul>
        <li><a href="https://forms.clickup.com/26475560/f/t7z18-888/8C8AHFIVVZLW8NTIWA">✏  New projects</a></li>
        <li><a href="https://forms.clickup.com/26475560/f/t7z18-928/W7HSNCFKT2QCQLZREH">✏  Issue submission</a></li>
      </ul>
      <address>
        <a href="mailto:kdl-info@kcl.ac.uk">kdl-info@kcl.ac.uk</a>
      </address>
      <br>
      <address>
        King's College London
        <br>
        Room VWB 2.50,
        <br>
        Virginia Woolf Building
        <br>
        22 Kingsway
        <br>
        London WC2B 6LE
      </address>
    </section>
  </div>
</nav>
