<ul>
  <li>
    <h3>Footer links</h3>
  </li>
  <li>
    <a href="{% route '/accessibility-statement/' %}">Accessibility statement</a>
  </li>
  <li>
    <a href="{% route '/privacy-policy/' %}">Privacy policy</a>
  </li>
  <li>
    <a href="{% route '/terms-and-conditions/' %}">Terms &amp; conditions</a>
  </li>
  <li>
    <a href="https://github.com/kingsdigitallab/kdl/actions/workflows/frontend.yml">
      <img src="https://github.com/kingsdigitallab/kdl/actions/workflows/frontend.yml/badge.svg"
        alt="Build 11ty frontend" style="max-width: 100%;">
    </a>
    <a href="https://github.com/kingsdigitallab/kdl/actions/workflows/pages/pages-build-deployment">
      <img src="https://github.com/kingsdigitallab/kdl/actions/workflows/pages/pages-build-deployment/badge.svg"
        alt="pages-build-deployment" style="max-width: 100%;">
    </a>
  </li>
</ul>
