
<ul>
  <li>
    <h3>Footer links</h3>
  </li>
  <li>
    <a href="{% route '/accessibility-statement/' %}">Accessibility statement</a>
  </li>
  <li>
    <a href="{% route '/privacy-policy/' %}">Privacy policy</a>
  </li>
  <li>
    <a href="{% route '/terms-and-conditions/' %}">Terms &amp; conditions</a>
  </li>
</ul>
