<header>
  <div id="sitename">King's Digital Lab</div>
  <div id="kcl-logo">
    <img src="{% route 'https://kdl.kcl.ac.uk/static/images/kings-logo-red.svg' %}" alt="King's College London logo">
  </div>
</header>
