{% from "components/nav-item/macro.njk" import renderNavListItem %}
<nav id="menu">
  <input id="nav-menu" type="checkbox"/>
  <label class="nav-menu" role="button" for="nav-menu"> 
    Menu
  </label>
  <ul>
    {%- set navPages = collections.all | eleventyNavigation %}
    {%- for entry in navPages -%}
    {{ renderNavListItem(entry) }}
    {%- endfor %}
  </ul>
</nav>

