<input id="menu-switch" type="checkbox" checked="">
<nav id="menu">
  {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
  <!-- Placeholder - Static content for multilevel example -->
  <ul>
    <li>
      <input id="about" type="checkbox" hidden="">
      <label for="about" class="check">About</label>
      <ol class="level1-list">
        <li>
          <input id="chapter-22" type="checkbox" hidden="">
          <label for="chapter-22" class="check">Lab</label>
          <ol class="level2-list">
            <li><a href="/">Overview</a></li>
            <li><a href="/">History</a></li>
            <li><a href="/">Misson</a></li>
          </ol>
        </li>

        <li>
          <input id="chapter-11" type="checkbox" hidden="">
          <label for="chapter-11" class="check">People</label>
          <ol class="level2-list">
            <li><a href="/">Current</a></li>
            <li><a href="/">Past</a></li>
          </ol>
        </li>

        <li>
          <input id="chapter-13" type="checkbox" hidden="">
          <label for="chapter-13" class="check">Partners</label>
        </li>
      </ol>
    </li>
  </ul>
</nav>