{% from "components/nav-item/macro.njk" import renderNavListItem %}

<input id="menu-switch" type="checkbox" checked="">
<nav id="menu">
  <ul>
    {%- set navPages = collections.all | eleventyNavigation %}
    {%- for entry in navPages -%}
    {{ renderNavListItem(entry) }}
    {%- endfor %}
  </ul>
</nav>
