{% from "kdl/components/nav/macros.njk" import paginationMacro %}

{{-
  paginationMacro({
    title: label,
    pagination: pagination,
    currentUrl: page.url
  }, {
    class: "pagination"
  })
-}}
