<h{% if level %}{{ level }}{% else %}2{% endif %}>
  {{ project.name }}<small>{{ project.slug }}</small>
</h{% if level %}{{ level }}{% else %}2{% endif %}>
{% if project.department %}
<span>
  {%- for department in project.department %}{{ department.organisation_id.agent.name }},{% endfor %}
  {% if project.foundingDate %}
    {{ project.foundingDate | asProjectDate }}&#8211;{{ project.dissolutionDate | asProjectDate }}
  {% endif %}
</span>
{% endif %}
