<header>
  {% include "partials/breadcrumbs.njk" %}
  {% if subtitle %}
  <h2>{{ title }}</h2>
  <h1 data-pagefind-meta="title[data-title]" data-title="{{ title }}: {{ subtitle}}">{{ subtitle }}</h1>
  {% else %}
  <h1>{{ title | safe }}</h1>
  {% endif %}
</header>
