/** Importing King's Fonts **/
/** King's Bureau Grotesque **/
@font-face {
  font-family: "KingsBureauGrotThreeSeven";
  src: url("../../assets/fonts/KingsBureauGrot/KingsBureauGrot-ThreeSeven.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
}
@font-face {
  font-family: "KingsBureauGrotThreeSeven";
  src: url("../../assets/fonts/KingsBureauGrot/KingsBureauGrot-ThrSevenItal.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: italic;
}
@font-face {
  font-family: "KingsBureauGrotFiveOne";
  src: url("../../assets/fonts/KingsBureauGrot/KingsBureauGrot-FiveOne.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 300;
}
@font-face {
  font-family: "KingsBureauGrotFiveOne";
  src: url("../../assets/fonts/KingsBureauGrot/KingsBureauGrot-FiveOneItal.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 300;
  font-style: italic;
}
/** King's Caslon **/
@font-face {
  font-family: "KingsCaslon";
  src: url("../../assets/fonts/KingsCaslon_V1.560/KingsCaslon.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
}
@font-face {
  font-family: "KingsCaslon";
  src: url("../../assets/fonts/KingsCaslon_V1.560/KingsCaslonItalic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: italic;
}
@font-face {
  font-family: "KingsCaslon";
  src: url("../../assets/fonts/KingsCaslon_V1.560/KingsCaslonSemiBold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
}
@font-face {
  font-family: "KingsCaslon";
  src: url("../../assets/fonts/KingsCaslon_V1.560/KingsCaslonSemiBoldItalic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: italic;
}
:root {
  --pagefind-ui-background: white;
  --pagefind-ui-border: #5a6369;
  --pagefind-ui-font: KingsBureauGrotFiveOne, sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: KingsBureauGrotFiveOne, sans-serif;
  font-weight: 400;
  float: left;
  width: 100%;
}

* {
  box-sizing: border-box;
}

section {
  width: 100%;
}

.kdl-container {
  max-width: 1220px;
  margin: 0 auto;
}

main a {
  font-family: "KingsCaslon", serif;
  color: #0e3f70;
  text-decoration-style: solid;
}
main a:hover {
  text-decoration-style: double;
  color: #14589d;
}
main p a {
  text-decoration-style: solid;
  font-family: KingsBureauGrotFiveOne, sans-serif;
  color: #0e3f70;
  font-weight: bold;
}
main p a:hover {
  text-decoration-style: double;
  color: #14589d;
}
main img {
  width: 100%;
}

header {
  width: 100%;
}
header .site {
  padding: 0 1em;
}
header .site a.sitename {
  text-decoration: none;
  color: white;
  position: absolute;
  font-size: 1.6em;
  padding: 0.4em 0;
  font-weight: bold;
}
header .site a.sitename span {
  font-size: 1.2em;
}
header .site a.logo {
  width: 8em;
  text-align: right;
  float: right;
  position: relative;
  align-self: flex-end;
}
header .site a.logo img {
  width: 8em;
  text-align: right;
  position: relative;
  display: inline-block;
}
header nav.main {
  z-index: 1;
  background: #5a6369;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  height: 50px;
  padding: 0 1em;
  border-bottom: 0.3em solid lightgray;
}
header nav.main .kdl-container > ul {
  /* first-level */
  margin: 0 2em 0 auto;
  list-style-type: none;
  float: right;
  /** chevron icon **/
}
header nav.main .kdl-container > ul > li {
  display: block;
  float: left;
  transition: all ease-out 250ms;
  position: relative;
  color: #cccccc;
}
header nav.main .kdl-container > ul > li:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: transform 0.25s ease-out;
}
header nav.main .kdl-container > ul > li.active {
  background: white;
  position: relative;
}
header nav.main .kdl-container > ul > li.active a {
  color: black;
}
header nav.main .kdl-container > ul > li.active:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: transform 0.25s ease-out;
}
header nav.main .kdl-container > ul > li a,
header nav.main .kdl-container > ul > li label {
  text-decoration: none;
  color: white;
  display: block;
  padding: 0.9em 1em;
  transition: all 0.25s ease-in;
  cursor: pointer;
}
header nav.main .kdl-container > ul > li:focus, header nav.main .kdl-container > ul > li:hover {
  background: #e6ebed;
}
header nav.main .kdl-container > ul > li:focus a,
header nav.main .kdl-container > ul > li:focus label, header nav.main .kdl-container > ul > li:hover a,
header nav.main .kdl-container > ul > li:hover label {
  color: black;
}
header nav.main .kdl-container > ul > li:focus input[type=checkbox] + label.kdl-checkbox, header nav.main .kdl-container > ul > li:hover input[type=checkbox] + label.kdl-checkbox {
  position: relative;
}
header nav.main .kdl-container > ul > li:focus input[type=checkbox] + label.kdl-checkbox:after, header nav.main .kdl-container > ul > li:hover input[type=checkbox] + label.kdl-checkbox:after {
  border-color: black;
}
header nav.main .kdl-container > ul > li:focus ul li a, header nav.main .kdl-container > ul > li:hover ul li a {
  background: #e6ebed;
}
header nav.main .kdl-container > ul > li > ul {
  /* second-level */
  margin-left: -40px;
  height: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  list-style-type: none;
}
header nav.main .kdl-container > ul > li > ul li a,
header nav.main .kdl-container > ul > li > ul li label {
  background: #5a6369;
}
header nav.main .kdl-container > ul > li > ul li a:focus, header nav.main .kdl-container > ul > li > ul li a:hover,
header nav.main .kdl-container > ul > li > ul li label:focus,
header nav.main .kdl-container > ul > li > ul li label:hover {
  background: white;
}
header nav.main .kdl-container > ul > li > ul li > ul {
  /* third-level */
  height: 100%;
  max-height: 0;
  overflow: hidden;
  list-style-type: none;
  transition: max-height 0.5s ease-in-out;
}
header nav.main .kdl-container > ul > li > ul li > ul li a,
header nav.main .kdl-container > ul > li > ul li > ul li label {
  background: #454545;
  box-shadow: inset 0 -1px #575757;
}
header nav.main .kdl-container > ul > li > ul li > ul li a:focus, header nav.main .kdl-container > ul > li > ul li > ul li a:hover,
header nav.main .kdl-container > ul > li > ul li > ul li label:focus,
header nav.main .kdl-container > ul > li > ul li > ul li label:hover {
  background: #333333;
}
header nav.main .kdl-container > ul > li > ul li > ul li > ul {
  /* fourth-level */
  height: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  list-style-type: none;
}
header nav.main .kdl-container > ul > li > ul li > ul li > ul li a,
header nav.main .kdl-container > ul > li > ul li > ul li > ul li label {
  background: #454545;
  box-shadow: inset 0 -1px #575757;
}
header nav.main .kdl-container > ul > li > ul li > ul li > ul li a:focus, header nav.main .kdl-container > ul > li > ul li > ul li > ul li a:hover,
header nav.main .kdl-container > ul > li > ul li > ul li > ul li label:focus,
header nav.main .kdl-container > ul > li > ul li > ul li > ul li label:hover {
  background: #333333;
}
header nav.main .kdl-container > ul input[type=checkbox]:checked + label + ul {
  /* reset the height when checkbox is checked */
  max-height: 1000px;
}
header nav.main .kdl-container > ul input[type=checkbox] + label.kdl-checkbox {
  position: relative;
}
header nav.main .kdl-container > ul input[type=checkbox] + label.kdl-checkbox:after {
  content: "";
  display: inline-block;
  z-index: 1;
  top: 0.15em;
  border-style: solid;
  border-color: white;
  border-width: 1px 1px 0 0;
  height: 0.5em;
  position: relative;
  transform: rotate(135deg);
  transition: 0.35s ease-in-out;
  vertical-align: top;
  width: 0.5em;
  left: 0.5em;
}
header nav.main .kdl-container > ul input[type=checkbox]:checked + label.kdl-checkbox:before, header nav.main .kdl-container > ul input[type=checkbox]:checked + label.kdl-checkbox:after {
  transform: rotate(-45deg);
}
header nav.main .kdl-container > ul input[type=checkbox]:checked + label.kdl-checkbox:before {
  display: none;
}
header nav.main .kdl-menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header nav.main #menu-toggle {
  display: none;
}
header nav.main .kdl-menu-button,
header nav.main .kdl-menu-button::before,
header nav.main .kdl-menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 2px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
header nav.main .kdl-menu-button::before {
  content: "";
  margin-top: -8px;
}
header nav.main .kdl-menu-button::after {
  content: "";
  margin-top: 8px;
}
header nav.main #menu-toggle:checked + .kdl-menu-button-container .kdl-menu-button {
  background: rgba(255, 255, 255, 0);
}
header nav.main #menu-toggle:checked + .kdl-menu-button-container .kdl-menu-button::before {
  margin-top: 0px;
  transform: rotate(45deg);
}
header nav.main #menu-toggle:checked + .kdl-menu-button-container .kdl-menu-button::after {
  margin-top: 0px;
  transform: rotate(-45deg);
}
header nav.sub {
  background: rgb(230, 235, 237);
  padding: 0.5em 1em;
  border-bottom: 0.7em solid rgb(10, 45, 80);
}
header nav.sub ol {
  list-style-type: none;
  margin-left: -40px;
}
header nav.sub ol li {
  display: inline-block;
  margin-right: 1em;
}
header nav.sub ol li a {
  color: black;
  text-decoration: none;
}
header nav.sub ol li a:hover {
  text-decoration: underline;
}
header nav.sub ol li a:after {
  content: ">";
  position: absolute;
  padding: 0 0.5em;
}
header nav.sub h1 {
  font-family: KingsBureauGrotThreeSeven, sans-serif;
  margin: 0;
  font-weight: 400;
}
header nav.sub h1 small {
  font-weight: normal;
  font-size: 0.6em;
}
header nav.sub ul {
  display: block;
  list-style-type: none;
  margin: 0.5em 0 0 -40px;
}
header nav.sub ul li {
  padding: 0 1em;
  border-right: 0.1em solid;
  display: inline-block;
}
header nav.sub ul li:active {
  font-family: KingsBureauGrotThreeSeven, sans-serif;
}
header nav.sub ul li a {
  color: black;
  text-decoration: none;
}
header nav.sub ul li:hover {
  text-decoration: underline;
}
header nav.sub ul li:first-child {
  padding-left: 0;
}
header nav.sub ul li:last-child {
  border-right: none;
}

main.projects {
  padding: 2em 1em;
}
main.projects a {
  color: #0a2d50;
  padding: 0.5em 0;
  cursor: default;
  display: block;
  text-decoration: none;
  line-height: 1.4;
}
main.projects a h2 {
  font-family: KingsCaslon, serif;
  font-weight: normal;
  cursor: pointer;
  margin: 0;
  line-height: 1;
  display: inline-block;
}
main.projects a h2:hover {
  text-decoration: underline;
  color: #135394;
}
main.projects a small {
  color: gray;
  font-family: KingsBureauGrotFiveOne, sans-serif;
  font-weight: 400;
  font-size: 0.6em;
  display: inline-block;
  margin-left: 0.3em;
  font-style: normal;
}
main.projects a span {
  font-family: KingsBureauGrotFiveOne, sans-serif;
  display: block;
}

.project {
  padding: 5em 1em;
}
.project .kdl-container {
  display: flex;
  flex-wrap: wrap;
}
.project .kdl-container h1 {
  width: 100%;
}
.project .kdl-container h1 small {
  color: gray;
  font-size: 0.6em;
  font-weight: normal;
}
.project .kdl-container article {
  display: flex;
}
.project .kdl-container article section {
  margin: 0 5% 0 0;
  flex: 3;
}
.project .kdl-container article section:last-child {
  margin: 0;
  flex: 1;
  background: rgb(237, 241, 242);
}
.project .kdl-container article section figure {
  margin: 0;
}
.project .kdl-container article section figure img {
  width: 100%;
}
.project .kdl-container article section figure figcaption {
  font-size: 0.7em;
  text-align: center;
}
.project .kdl-container article section #metadata {
  margin: 0 5%;
  padding-top: 1em;
}
.project .kdl-container article section #metadata dl dt {
  margin-top: 1.5em;
  font-size: 1.2em;
  font-weight: bold;
}
.project .kdl-container article section #metadata dl dd {
  margin-left: 20px;
  margin-top: 0.5em;
}
.project .kdl-container article section #metadata span.status {
  background: #5a6369;
  margin-left: -5%;
  padding: 0.3em 0.5em;
  margin-bottom: 1em;
  color: white;
  font-size: 1.2em;
}
.project .kdl-container article section #metadata #links,
.project .kdl-container article section #metadata .funder {
  border-bottom: 0.3em solid rgb(220, 227, 230);
  width: 100%;
  padding: 1em 0;
}
.project .kdl-container article section #metadata #links ul,
.project .kdl-container article section #metadata .funder ul {
  margin: 0 0 0 -20px;
  list-style-type: circle;
}
.project .kdl-container article section #metadata #links ul li,
.project .kdl-container article section #metadata .funder ul li {
  margin-bottom: 0.5em;
}
.project .kdl-container article section #metadata #links ul li a,
.project .kdl-container article section #metadata .funder ul li a {
  font-size: 1.2em;
  text-decoration: none;
}
.project .kdl-container article section #metadata #links ul li a:hover,
.project .kdl-container article section #metadata .funder ul li a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.project .kdl-container article section #metadata .funder {
  border-bottom: 0.3em solid rgb(220, 227, 230);
}
.project .kdl-container article section #metadata .date ul {
  margin: 0 0 0 -20px;
  list-style-type: circle;
}
.project .kdl-container article section #metadata .date ul span {
  background: none;
  margin: 0;
  padding: 0;
  font-family: "KingsCaslon", serif;
  color: black;
}
.project .kdl-container article section .post-meta {
  margin-left: 5%;
}
.project .kdl-container article section #team {
  width: 100%;
  display: block;
  border-top: 0.01em solid;
}
.project .kdl-container article section #team h2 {
  width: 100%;
}
.project .kdl-container article section #team ul {
  margin-left: -40px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.project .kdl-container article section #team ul h2 {
  font-size: 1.2em;
}
.project .kdl-container article section #team ul li {
  list-style-type: none;
  flex: 0 0 50%;
  margin-bottom: 1em;
  font-size: 1.1em;
}
.project .kdl-container article section #team ul li a {
  text-decoration: none;
}
.project .kdl-container article section #team ul li a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
}
.project .kdl-container article section #team ul li span {
  font-size: 0.8em;
  display: block;
}

main.posts {
  padding: 0 1em;
  float: left;
  width: 100%;
}
main.posts article {
  display: block;
}
main.posts article article {
  width: 100%;
  display: flex;
  margin-bottom: 1em;
}
main.posts article article figure {
  width: 100%;
  margin: 0;
}
main.posts article article figure img {
  height: auto;
  max-width: 15em;
  object-fit: contain;
  display: inline-block;
  vertical-align: top;
}
main.posts article article figure img:hover {
  filter: grayscale(100%);
  transition: transform 1s, filter 0.5s ease-in-out;
}
main.posts article article section {
  margin-left: 2em;
}
main.posts article article section a {
  text-decoration: none;
}
main.posts article article section a h2 {
  margin-top: 0;
}
main.posts article article section a:hover {
  text-decoration: underline;
}

main.post,
main.faqs,
main.base,
main.home {
  padding: 0 1em;
  float: left;
  width: 100%;
}
main.post .kdl-container,
main.faqs .kdl-container,
main.base .kdl-container,
main.home .kdl-container {
  display: flex;
  flex-wrap: wrap;
}
main.post .kdl-container h1,
main.faqs .kdl-container h1,
main.base .kdl-container h1,
main.home .kdl-container h1 {
  width: 100%;
  order: 1;
}
main.post .kdl-container aside,
main.faqs .kdl-container aside,
main.base .kdl-container aside,
main.home .kdl-container aside {
  flex: 1;
  background: rgb(237, 241, 242);
  order: 3;
  margin: 0 0 0 5%;
  padding: 0 1em;
}
main.post .kdl-container aside ol,
main.faqs .kdl-container aside ol,
main.base .kdl-container aside ol,
main.home .kdl-container aside ol {
  margin-left: -20px;
  counter-reset: counter;
  list-style: none;
}
main.post .kdl-container aside ol li,
main.faqs .kdl-container aside ol li,
main.base .kdl-container aside ol li,
main.home .kdl-container aside ol li {
  counter-increment: counter;
  line-height: 1.3;
  margin-top: 0.5em;
  font-weight: bold;
}
main.post .kdl-container aside ol li a,
main.faqs .kdl-container aside ol li a,
main.base .kdl-container aside ol li a,
main.home .kdl-container aside ol li a {
  text-decoration: none;
}
main.post .kdl-container aside ol li a:hover,
main.faqs .kdl-container aside ol li a:hover,
main.base .kdl-container aside ol li a:hover,
main.home .kdl-container aside ol li a:hover {
  text-decoration: underline;
}
main.post .kdl-container aside ol li:before,
main.faqs .kdl-container aside ol li:before,
main.base .kdl-container aside ol li:before,
main.home .kdl-container aside ol li:before {
  content: counters(counter, ".");
  position: absolute;
  margin-left: -1em;
  margin-top: 0.15em;
  font-size: 0.9em;
  font-weight: bold;
  color: #e12726;
}
main.post .kdl-container aside ol li ol li:before,
main.faqs .kdl-container aside ol li ol li:before,
main.base .kdl-container aside ol li ol li:before,
main.home .kdl-container aside ol li ol li:before {
  margin-left: -1.7em;
  margin-top: 0.4em;
  font-size: 0.7em;
  font-weight: bold;
}
main.post .kdl-container > article,
main.faqs .kdl-container > article,
main.base .kdl-container > article,
main.home .kdl-container > article {
  flex: 3;
  order: 2;
}
main.post .kdl-container > article figure,
main.faqs .kdl-container > article figure,
main.base .kdl-container > article figure,
main.home .kdl-container > article figure {
  width: 100%;
  margin: 0;
}
main.post .kdl-container > article figure img,
main.faqs .kdl-container > article figure img,
main.base .kdl-container > article figure img,
main.home .kdl-container > article figure img {
  width: 100%;
}
main.post .kdl-container footer,
main.faqs .kdl-container footer,
main.base .kdl-container footer,
main.home .kdl-container footer {
  background: white;
}

main.people,
main.organisations {
  padding: 0 1em;
  /*ul{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    margin-left:-40px;
    li{
      flex: 0 0 33.3%;
      list-style-type: none;
      padding:0 0 0.5em 0;
      font-size:1.4em;
      a{
        text-decoration:none;
        &:hover{
          text-decoration:underline;
          text-decoration-style:solid;
        }
      }
    }//li
  }//ul*/
}
main.people ul,
main.organisations ul {
  margin-left: -40px;
  list-style-type: none;
  list-style-type: none;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
main.people ul li,
main.organisations ul li {
  padding-bottom: 0.5em;
  font-size: 1.4em;
}
main.people ul li a,
main.organisations ul li a {
  text-decoration: none;
}
main.people ul li a:hover,
main.organisations ul li a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
}

main.person,
main.organisation {
  padding: 0 1em;
}
main.person h1,
main.organisation h1 {
  width: 100%;
}
main.person article img,
main.organisation article img {
  width: 30%;
  height: auto;
  max-width: 15em;
  object-fit: contain;
  display: inline-block;
  vertical-align: top;
}
main.person article section,
main.organisation article section {
  display: block;
  width: 100%;
  padding: 1em 0;
  border-bottom: 0.01em solid black;
}
main.person article section h2,
main.organisation article section h2 {
  margin: 0;
}
main.person article section h2 span,
main.organisation article section h2 span {
  display: block;
  font-weight: normal;
  font-size: 0.7em;
  color: gray;
}
main.person article section #part-of ul,
main.organisation article section #part-of ul {
  width: 100%;
  margin-left: -40px;
  list-style-type: none;
}
main.person article section #part-of ul li,
main.organisation article section #part-of ul li {
  font-size: 1.2em;
}
main.person article section #part-of ul li a,
main.organisation article section #part-of ul li a {
  color: #0a2d50;
  padding: 0.5em 0;
  cursor: default;
  display: block;
  text-decoration: none;
  line-height: 1.4;
}
main.person article section #part-of ul li a h3,
main.organisation article section #part-of ul li a h3 {
  font-family: KingsCaslon, serif;
  font-weight: normal;
  cursor: pointer;
  margin: 0;
  line-height: 1;
  display: inline-block;
}
main.person article section #part-of ul li a h3:hover,
main.organisation article section #part-of ul li a h3:hover {
  text-decoration: underline;
  color: #135394;
}
main.person article section #part-of ul li a small,
main.organisation article section #part-of ul li a small {
  color: gray;
  font-family: KingsBureauGrotFiveOne, sans-serif;
  font-weight: 400;
  font-size: 0.6em;
  display: inline-block;
  margin-left: 0.3em;
  font-style: normal;
}
main.person article section #part-of ul li a span,
main.organisation article section #part-of ul li a span {
  font-family: KingsBureauGrotFiveOne, sans-serif;
  font-weight: normal;
  display: block;
}

nav.pagination {
  margin-top: 5em;
  border-top: 0.2vw solid black;
  width: 100%;
}
nav.pagination ol {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
nav.pagination ol li {
  border: none;
  flex: 1;
  display: block;
  text-align: center;
}
nav.pagination ol li a {
  color: gray;
  text-decoration: none;
}
nav.pagination ol li a:hover {
  color: black;
}
nav.pagination ol li a span {
  display: inline-block;
  font-family: "KingsCaslon", serif;
}

footer {
  background: #5a6369;
  margin-top: 2em;
  float: left;
  width: 100%;
}
footer .connect {
  padding: 0 1em;
  background: #0a2d50;
  color: white;
  width: 100%;
}
footer .connect .kdl-container {
  display: flex;
  align-items: center;
}
footer .connect .kdl-container h2 {
  font-family: KingsBureauGrotThreeSeven, sans-serif;
  font-weight: 400;
}
footer .connect .kdl-container ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
footer .connect .kdl-container ul li {
  flex-direction: row;
  justify-content: left;
}
footer .connect .kdl-container ul li a {
  color: white;
  min-width: 4em;
  display: block;
  text-decoration: none;
}
footer .connect .kdl-container ul li a img {
  width: 3em;
  border: 0.125em solid rgba(0, 0, 0, 0.4);
  padding: 0.7em;
  filter: invert(100%);
  border-radius: 50%;
}
footer .connect .kdl-container ul li a img:hover {
  background: white;
  filter: invert(0);
  border: 0.125em solid white;
}
footer .connect .kdl-container ul li a:hover {
  text-decoration: underline;
}
footer nav.footer {
  padding: 0 1em;
  color: white;
}
footer nav.footer .kdl-container {
  display: flex;
}
footer nav.footer .kdl-container h2 {
  border-bottom: 0.13em solid rgb(139, 146, 150);
  padding-bottom: 0.5em;
  font-family: KingsBureauGrotFiveOne, sans-serif;
  font-weight: 400;
  font-size: 1.4em;
}
footer nav.footer .kdl-container section {
  margin-right: 2em;
}
footer nav.footer .kdl-container section ul {
  margin-left: -40px;
}
footer nav.footer .kdl-container section ul li {
  list-style-type: none;
  padding-bottom: 1em;
}
footer nav.footer .kdl-container section ul li a {
  color: white;
  min-width: 6em;
  display: block;
  text-decoration: none;
  font-family: KingsBureauGrotFiveOne, sans-serif;
}
footer nav.footer .kdl-container section ul li a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
}
footer nav.footer .kdl-container section p,
footer nav.footer .kdl-container section address {
  font-style: normal;
  line-height: 1.5;
  padding: 0.4em 0 0 0;
  margin: 0;
}
footer nav.footer .kdl-container section p a,
footer nav.footer .kdl-container section address a {
  color: white;
  font-family: KingsBureauGrotFiveOne, sans-serif;
  cursor: pointer;
}
footer nav.footer .kdl-container section p a:hover,
footer nav.footer .kdl-container section address a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
}

@media (max-width: 800px) {
  header {
    float: none;
  }
  header .site a.sitename {
    font-size: 1.5em;
    padding: 0.5em 0;
  }
  header .site a.logo img {
    width: 3.65em;
  }
  header nav.main .kdl-container #menu-toggle ~ ul {
    height: 0;
    width: 0;
    opacity: 1;
    display: none;
  }
  header nav.main .kdl-container #menu-toggle:checked ~ ul {
    height: 100%;
    width: calc(100% + 40px);
    opacity: 1;
    margin-top: 0;
    display: block;
  }
  header nav.main .kdl-container .kdl-menu-button-container {
    display: flex;
    position: absolute;
    right: 7em;
    top: 1.3em;
    flex-direction: row;
    justify-content: normal;
    align-items: initial;
  }
  header nav.main .kdl-container > ul {
    margin-top: 50px;
    width: 100%;
  }
  header nav.main .kdl-container > ul > li {
    margin: 0;
    width: calc(100% + 40px);
    color: white;
    background-color: #42494e;
    margin-left: 10px;
    padding: 0;
  }
  header nav.main .kdl-container > ul > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  header nav.main .kdl-container > ul > li:not(:last-child) > ul {
    margin-left: -40px;
  }
  header nav.main .kdl-container > ul > li:not(:last-child) > ul > li {
    padding-left: 20px;
  }
  header nav.main.kdl-container > ul {
    margin-top: 100px;
    width: 100%;
  }
  header nav.sub {
    border: none;
  }
  main.project {
    padding: 1em 1em;
  }
  main.project .kdl-container {
    display: block;
  }
  main.project .kdl-container section {
    width: 100%;
    margin: 0;
  }
  main.project .kdl-container section:last-child {
    width: 100%;
    background: none;
    border-top: 0.01em solid black;
  }
  main.project .kdl-container section #metadata {
    margin: 0;
    padding: 1em 0 2em 0;
  }
  main.project .kdl-container section #metadata span {
    background: rgb(40, 195, 130);
    margin-left: 0;
    padding: 0.3em 0.5em;
  }
  main.project .kdl-container section #team {
    width: 100%;
    display: block;
    border-top: 0.01em solid;
  }
  main.project .kdl-container section #team h2 {
    width: 100%;
  }
  main.project .kdl-container section #team ul {
    display: block;
  }
  main.people ul,
main.organisations ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
  main.person article img {
    width: 100%;
    display: block;
  }
  main.person article section {
    display: block;
    width: 100%;
    padding-left: 0;
  }
  main.person article section h2 {
    margin-top: 0.5em;
  }
  main.person article section h2 span {
    display: block;
    font-weight: normal;
    font-size: 0.7em;
    color: gray;
  }
  main.person ul {
    width: 100%;
    margin-left: -40px;
  }
  main.person ul li {
    font-size: 1.2em;
  }
  main.posts article {
    width: 100%;
    display: block;
  }
  main.posts article a figure img {
    max-width: 100%;
  }
  main.posts article section {
    margin: 1em 0 0 0;
  }
  main.post .kdl-container,
main.faqs .kdl-container,
main.base .kdl-container,
main.home .kdl-container {
    display: block;
  }
  main.post .kdl-container aside,
main.faqs .kdl-container aside,
main.base .kdl-container aside,
main.home .kdl-container aside {
    margin: 0 0 1em 0;
    padding: 0.1em 1em;
  }
  footer {
    background: #5a6369;
  }
  footer .connect {
    text-align: center;
    padding: 0.1em 0;
  }
  footer .connect .kdl-container {
    display: block;
  }
  footer .connect .kdl-container h2 {
    font-family: KingsBureauGrotThreeSeven, sans-serif;
    font-weight: 400;
    width: 100%;
  }
  footer .connect .kdl-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  footer nav.footer .kdl-container {
    display: block;
  }
}