<li{% if entry.url==page.url %} class="active"{% endif %}>
  {%- if entry.children.length %}
  {{ entry.title }}
  <ul>
    {%- for child in entry.children -%}
    {{ renderNavListItem(child) }}
    {%- endfor %}
  </ul>
  {%- else %}
  <a href="{% route entry.url %}">{{ entry.title }}</a>
  {%- endif %}
</li>
