---
layout: layouts/people.njk
title: People
eleventyNavigation:
  key: People
  parent: About
  order: 2
---

Explore our project contributors who have lent their expertise to the array of [projects](/projects/)
undertaken by KDL over the years.

Current KDL [team](/about/team/) members are highlighted by the people icon after the name.
